<%# locals: { madmp_schema, pickable_schemas, question, research_output } %>
<strong><%= d_("dmpopidor", "Change your question form") %></strong>
<ul class="schema_picker">
    <% pickable_schemas.each do |ps| %>
        <li class="checkbox">
            <%= label_tag "picked_schema_#{question.id}_#{research_output.id}" do %>
            <%= radio_button_tag("picked_schema_#{question.id}_#{research_output.id}",
                                    ps.id,
                                    !!(ps.id == madmp_schema.id) ) %>
            <%= ps.label %>
            <% end %>
        </li>
    <% end %>
</ul>