<% unless validation == "none" %>
    <% if validation.present? %>
        <span class="fas fa-times-circle invalid"></span>
        <span class="fas fa-question-circle explanation" title="<%= display_validation_message(validation) %>"></span>
    <% end %>
<% end %>