<%# locals: { f, question, answer } %>
<div class="form-group">
    <%= f.label(:text, raw(question.text), class: 'control-label') %>
    <%= text_field_tag('answer[text]', strip_tags(answer.text || question.default_value), class: 'form-control') %>
</div>