<div class="table-responsive">
  <table class="table table-hover" id="public_orgs">
    <thead>
      <tr>
        <th class="col-md-8" scope="col"><%= _('Institution') %>&nbsp;<%= paginable_sort_link('orgs.name') %></th>
      </tr>
    </thead>
    <tbody>
      <% scope.each do |org| %>
        <tr>
          <td><%= org.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
