<% title "#{@plan.title} - contributors" %>

<% locale = @plan.template.locale %>

<% content_for :plan_tab_body do %>
  <div class="row">
    <% I18n.with_locale locale do %>
      <div class="col-md-12">
        <p>
          <%= _("List of person responsible for research data management during a project and their roles.") %>
        </p>
        <p>
          <%= _("Assigning a role to a person is done in the \"General information\" tab, in the \"Write Plan\" tab for the structured templates or in the \"Research Outputs\" tab for other templates.") %>
        </p>
      </div>
    <% end %>
    <div class="col-md-12">
      <%= react("ContributorsTabLayout", props: { 
        locale: LocaleService.to_gettext(locale: locale),
        planId: @plan.id,
        readonly: !@plan.editable_by?(current_user.id)
      }) %>
    </div>
  </div>
<% end %>

<%= render partial: "plans/navigation", locals: { plan: @plan } %>
