<div class="row">
  <div class="col-xs-12">
    <h2>
      <%= _("New registry value") %>
      <%= link_to(_('View all registries'), super_admin_registries_path,
          class: 'btn btn-default pull-right', role: 'button') %>
    </h2>
  </div>
</div>
<%= render partial: 'form' %>