<div class="row">
  <div class="col-md-12">
    <h1><%= _('New guidance') %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <%= form_for :guidance, url: {action: 'admin_create'}, html: {id: 'new_guidance_form'} do |f| %>
      <%= render partial: 'guidance_form', locals: { f: f, themes: @themes, guidance_groups: @guidance_groups, guidance: @guidance } %>
    <% end %>
  </div>
</div>
