<div class="row">
  <div class="col-md-12">
    <h1><%= _('Guidance') %></h1>
    <%= link_to _('View all guidance'), admin_index_guidance_path(current_user.org_id), class: 'btn btn-default pull-right' %>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <%= form_for(@guidance, url: admin_update_guidance_path(@guidance), html: { method: :put , id: 'edit_guidance_form', class: 'roadmap-form bordered'}) do |f| %>
      <%= render partial: 'guidance_form', locals: { f: f, themes: @themes, guidance_groups: @guidance_groups, guidance: @guidance } %>
    <%end%>
  </div>
</div>
