<h1>
	<%= t('terms_page.title')%>
</h1>

<%= raw t('terms_page.body_text_html',
					organisation_name: Rails.configuration.branding[:organisation][:name],
					organisation_abbreviation: Rails.configuration.branding[:organisation][:abbreviation],
					application_name: Rails.configuration.branding[:application][:name])%>
