<%# locals: { note } %>
<% if !note.nil? %>
    <% user = note.user %>
    <ul class="list-unstyled">
        <li>
          <div class="display-readonly-textarea-content">
            <%= sanitize note.text %>
          </div>
        </li>
        <li>
            <span class="badge bg-info">
                <%= "#{user.name} " %> <time class="timeago" datetime="<%= note.updated_at.iso8601 %>"></time>
            </span>
        </li>
    </ul>
<% end %>
