
<% @user.organisation.token_permission_types.each do |token_type|%>
<h1>
    <%= token_type.token_type %>
</h1>
<div class="div_clear"></div>

<div class="dmp_details_body">

    <%= token_type.text_desription %>

</div>

<% end %>