{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": [
          "> .25%",
          "Firefox >= 52", // last ESR
          "IE >=10"
        ],
	"uglify": true
      },
      "useBuiltIns": true
    }]
  ]
};
