# For some reason ignoring tmp creates a problem when compiling assets
# tmp
# !tmp/pids/.keep
log/*
coverage/
tmp/* 

.dockerignore
docker-compose-development.yml
docker-compose.yml
.env
.env-working