# Files and directories that Docker doesn't need to copy into the image
.git
.github

docs/
log/
node_modules/
pa11yci/
spec/
tmp/

.env
.env.mysql2
.env.postgresql
.rubocop.yml

buildspec.yaml
Capfile
Dangerfile

config/deploy/
config/environments/development.rb
config/environments/test.rb
config/credentials.yml.enc
config/credentials.yml.mysql2
config/credentials.yml.postgresql
config/master.key

share/
