@import '../../../components/responsive';

.project-list-header{
  margin-top: 2rem!important;
}
.project-list {

  @include device(tablet) {
    grid-template-columns: 3fr 1fr 1fr;
  }

  .row-wrapper {
    display: contents;

    &.selected > div {
      background-color: var(--grid-row-selected-bg);
      color: var(--grid-row-selected-fg);
      border-bottom: var(--grid-row-selected-border);
    }
  }
}
