<% user = User.new if user.nil? %>
<h1><%= _('Create your account') %></h1>
<p><%= _('Your account has been verified with your institutional credentials. Please fill out the form below to finish creating your account.') %></p>
<div class="row">
  <div class="col-md-5">
    <%= render partial: '/shared/dmptool/create_account_form', locals: { user: user } %>
  </div>
</div>