<h1><%= _('Registration Success') %></h1>

<p><%= _('A confirmation email has been sent to your email address. It usually arrives within a few minutes but can sometimes take up to 10 minutes. Please wait and check your inbox and spam/junk folders after that time.') %></p>
