<p><%= _('Hello ') %><%= @user.name %></p>

<p>
  <%= _('The personal information of your account have been anonymized. You will no longer be able to access your DMP OPIDoR account, the plans you created and the plans your colleagues shared with you.') %>
  <%= _('If you want to use DMP OPIDoR again, please create a new account.') %>
</p>