<%
  tool_name = Rails.configuration.branding[:application][:name]
  username = @user.name
  api_documentation_url = Rails.configuration.branding[:application][:api_documentation_url]
%>
<% FastGettext.with_locale FastGettext.default_locale do %>
  <p>
    <%= _('Hello %{username}') %{ :username => username } %>
  </p>
  <p>
    <%= sanitize(_('You have been granted permission by your organisation to use our API. Your API token and instructions for using the API endpoints can be found at: %{link}') %{ :link => link_to(api_documentation_url, api_documentation_url) }) %>
  </p>
  <%= render partial: 'email_signature' %>
<% end %>