<p>
  <%= _('Hello %{recipient_name}') % { recipient_name: @recipient_name } %>
</p>
<p>
  <%= _("%{commenter} has finished providing feedback on the plan  \"%{link_html}\". Comments can be found in the 'Write plan' tab on the right side of the page (Guidance/Comments).").html_safe % {
    commenter: @requestor_name,
    link_html: link_to(@plan_name, edit_plan_url(@plan, phase_id: @phase.id)),
    tool_name: tool_name
  }%>
</p>

<%= render partial: 'email_signature' %>
