<%
  requestor = @requestor.name(false)
  recipient_name = @user.name(false)
  plan_name = @plan.title
  tool_name = Rails.configuration.branding[:application][:name]
%>

<p><%= _('Hello %{recipient_name}') % { recipient_name: recipient_name } %></p>

<p>
  <%= _("%{commenter} has finished providing feedback on the plan \"%{link_html}\". To view the comments, please visit the My Dashboard page in %{tool_name} and open your plan. Plan comments can be found adjacent to your answers in the tabbed panel next to guidance.").html_safe % {
    commenter: requestor,
    link_html: link_to(plan_name, plan_url(@plan)),
    tool_name: tool_name
  }%>
</p>

<%= render partial: 'email_signature' %>