<p>
  <%= _('Dear %{user_name},') % {user_name: @recipient_name} %>
</p>

<p>
  <%= sanitize(_("A DMPTool user, %{requestor}, has submitted a request for feedback on their data management plan: '%{link_html}'.") % {
    requestor: @requestor_name, link_html: link_to(@plan_name, request_feedback_plan_url(@plan))
  }) %>
</p>

<%= render partial: 'email_signature', locals: { allow_change_prefs: false } %>
