<% 
  requestor = @requestor.name(false)
  recipient_name = @user.name(false) 
  plan_name = @plan.title
  tool_name = Rails.configuration.branding[:application][:name]
%>

<p><%= _('Hello %{recipient_name}') % { recipient_name: recipient_name } %></p>
<p><%= _('%{commenter} has finished providing feedback on the plan "%{plan_title}". To view the comments, please visit the My Dashboard page in %{tool_name} and open your plan.') % { commenter: requestor, plan_title: plan_name, tool_name: tool_name } %></p>

<%= render partial: 'email_signature' %>