<p>
  <%= _('Hello %{recepientname}') %{ recepientname: @recepient.name } %>
</p>
<p>
  <%= _('Your permissions relating to %{plan_title} have changed. You now have %{type} access. This means you can %{placeholder1} %{placeholder2}') % {
     plan_title: @plan_title,
     type: @messaging[:type],
     placeholder1: @messaging[:placeholder1],
     placeholder2: @messaging[:placeholder2]
    } %>
</p>
<%= render partial: 'email_signature' %>
