<% FastGettext.with_locale FastGettext.default_locale do %>
  <p>
    <%= _('Hello %{user_name}') % { user_name: @user.name(false) } %>
  </p>

  <p>
    <%= _('Your permissions relating to %{plan_title} have changed. You now have %{type} access. This means you can %{placeholder1} %{placeholder2}') % {
       plan_title: @role.plan.title,
       type: Role::ACCESS_LEVEL_MESSAGES[@role.access_level][:type],
       placeholder1: Role::ACCESS_LEVEL_MESSAGES[@role.access_level][:placeholder1],
       placeholder2: Role::ACCESS_LEVEL_MESSAGES[@role.access_level][:placeholder2]
      } %>
  </p>

  <%= render partial: 'email_signature' %>

<% end %>
