<%
  tool_name = Rails.configuration.branding[:application][:name]
  username = @user.name
  plan_title = @role.plan.title
  access = nil
  email_subject = _('Query or feedback related to %{tool_name}') %{ :tool_name => tool_name }
  access_level = @role.access_level()
  access_level_messages = Role.access_level_messages
%>
<% FastGettext.with_locale FastGettext.default_locale do %>
  <p>
    <%= _('Hello %{username}') %{ :username => username } %>
  </p>
  <p>
    <%= _('Your permissions relating to %{plan_title} have changed. You now have %{type} access. This means you can %{placeholder1} %{placeholder2}') %{ :plan_title => plan_title, :type => access_level_messages[access_level][:type], :placeholder1 => access_level_messages[access_level][:placeholder1], :placeholder2 => access_level_messages[access_level][:placeholder2] } %>
  </p>
  <%= render partial: 'email_signature', locals: { email_subject: email_subject } %>
<% end %>
