<p>
  <%= _('Hello %{username}') %{ username: @username } %>
</p>
<p>
  <%= _("Your colleague %{inviter_name} has invited you to contribute to
          their Data Management Plan in %{tool_name}") % {
            inviter_name: @inviter.name(false), tool_name: tool_name
            } %>
</p>
<p>
  <%= sanitize(_('%{click_here} to accept the invitation, (or copy %{link} into your browser). If you don\'t want to accept the invitation, please ignore this email.') % { 
    click_here: link_to(_('Click here'), @link), link: @link })
    %>
</p>
<%= render partial: 'email_signature' %>
