<% FastGettext.with_locale FastGettext.default_locale do %>
  <p><%= _('Hello %{user_email}') % { user_email: @user.email } %></p>
  <p>
    <%= _("Your colleague %{inviter_name} has invited you to contribute to "\
            " their Data Management Plan in %{tool_name}") % {
      tool_name: tool_name,
      inviter_name: @inviter.name(false)
    } %>
  </p>
  <p>
    <%= sanitize(_('%{click_here} to accept the invitation, (or copy %{link} into your browser). If you don\'t want to accept the invitation, please ignore this email.') % {
      click_here: link_to(_('Click here'), plan_url(@role.plan)),
      link: url_for(action: 'show', controller: 'plans', id: @role.plan.id) })
    %>
  </p>
  <%= render partial: 'email_signature' %>
<% end %>
