<%# locals: expanded %>

 <div class="accordion-item w-100">
 <h2 class="accordion-header" id="headingTemplateStatistics">
      <div href="#template_statistics" role="button"
             class="accordion-button collapsed" data-bs-toggle="collapse" 
             data-bs-target="#collapseTemplateStatistics" aria-expanded="false" aria-controls="collapseTemplateStatistics">
         <%= _('Statistics on your Templates') %>
      </dic>
  </h2>

  <div id="collapseTemplateStatistics"
       class="card collapse"
       role="tabpanel" 
       aria-labelledby="headingTemplateStatistics"
       data-bs-parent="#usage-accordion">
    <div class="accordion-body">
      <%= render partial: 'usage/template_statistics' %>
    </div>
  </div>
</div>
