<%# locals: expanded %>
 <div class="accordion-item w-100 my-3">
 <h2 class="accordion-header" id="headingUserStatistics">
      <div href="#user_statistics" role="button"
             class="accordion-button" data-bs-toggle="collapse" 
             data-bs-target="#collapseUserStatistics" aria-expanded="false" aria-controls="collapseUserStatistics">
        <%= _('Statistics on your Users') %>
      </div>
    </h2>


  <div id="collapseUserStatistics"
       class="card collapse <%='show' if expanded %>"
       role="tabpanel" 
       aria-labelledby="headingUserStatistics"
       data-bs-parent="#usage-accordion">
    <div class="accordion-body">
      <%= render partial: 'usage/user_statistics' %>
    </div>
  </div>
</div>
