<%# locals: expanded %>
 <div class="accordion-item w-100 my-3">
 <h2 class="accordion-header" id="headingUserStatistics">
      <button href="#user_statistics" type="button"
             class="accordion-button collapsed" data-bs-toggle="collapse" 
             data-bs-target="#collapseUserStatistics" aria-expanded="false" aria-controls="collapseUserStatistics">
        <%= _('Statistics on your Users') %>
      </button>
    </h2>


  <div id="collapseUserStatistics"
       class="card collapse"
       role="tabpanel" 
       aria-labelledby="headingUserStatistics"
       data-bs-parent="#usage-accordion">
    <div class="accordion-body card card-body">
      <%= render partial: 'usage/user_statistics' %>
    </div>
  </div>
</div>
