/* Form components, and buttons */
button,
input[type="button"],
input[type="submit"] {
  background-color: transparent;
  color: var(--btn-basic-fg-color);
  border: none;
  border-radius: var(--btn-border-radius);
  font-weight: bold;
  padding: 0.5rem 1rem;
  line-height: normal;
  border: 1px solid var(--dmpui-brand-blue-900);
  display: inline-block;
  font-family: var(--btn-font-family);
  font-size: inherit;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;


  &.primary {
    background-color: var(--dmpui-brand-blue-900);
    color: var(--btn-primary-fg-color);
    border: none;

    &:hover {
      background-color: var(--dmpui-brand-blue-800);
      color: var(--btn-primary-fg-color);
    }
  }


  &.secondary {
    background-color: var(--dmpui-brand-blue-400);
    color: var(--dmpui-brand-blue-900);
    border: none;

    &:hover {
      background-color: var(--dmpui-brand-blue-500);
      color: var(--btn-primary-fg-color);
    }
  }


  &:focus,
  &:hover,
  &:active {
    outline: none !important;
    outline-color: #000 !important;
    outline-width: 0px !important;
    box-shadow: none !important;
  }


}

.form-wrapper {}

.form-field {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--form-field-border-color);

  &.last {
    border-bottom: 1px solid transparent;
  }

  padding: 1rem;
  text-align: left;

  .form-field-label {
    padding: 0.5em 0;

    label {
      font-weight: bold;
    }
  }

  .form-field-input {
    display: flex;
    flex-direction: column;
    padding: 0.5em 0;

    &>* {
      margin-bottom: 0.5rem;
    }

    input[type="text"] {
      width: 100%;
    }

    input[type="text"],
    textarea {
      box-sizing: border-box;
      border: 2px solid var(--form-field-border-color);
      border-radius: 3px;
      color: var(--form-field-fg-color);
      background-color: var(--form-field-bg-color);
      padding: 0.5em 1em;
    }

    input[type="radio"] {
      vertical-align: text-bottom;
      width: auto;
    }
  }

  &.required {
    label::after {
      content: " *";
      color: var(--input-required-color);
    }
  }

  @include device(laptop) {
    flex-direction: row;
    justify-content: space-between;

    .form-field-label {}

    &>div {
      flex: 1 1 auto;
      max-width: calc(50% - 1rem);
    }

  }
}

.form-actions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: end;
  padding: 0.5rem;

  &>* {
    margin: 0.5rem;
  }
}




.dmpui-field-group {
  margin-bottom: 1rem;
  text-align: left;
  max-width: 500px;

  .dmpui-field-label {
    font-weight: bold;
    color: var(--form-field-label-color);
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }

  .dmpui-field-help {
    font-size: 0.8em;
    margin-bottom: 0.25rem;
    color: #555;
  }

  .dmpui-field-error {
    font-size: 0.8em;
    margin-bottom: 0.25rem;
    color: red;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    box-sizing: border-box;
    border: 2px solid var(--form-field-border-color);
    border-radius: 8px;
    color: var(--form-field-fg-color);
    background-color: var(--form-field-bg-color);
    padding: 0.5rem 1rem;
    width: 100%;


    &:hover {
      outline: none !important;
      border: 2px solid var(--form-field-border-color);
    }

    &:focus {
      outline: none !important;
      border: 2px solid #000 !important;
      box-shadow: inset 0 0 0 0dvi !important;
    }

    &:focus:invalid {
      border-color: red;
    }
  }


}