* {
    box-sizing: border-box;
  }

  input[type='file'] {
    opacity:0    
  }
  
  .autocomplete__container {
    position: relative;
    margin-top: "0.8rem";
    width: 100%;
  }

  .autocomplete__results.visible {
    visibility: visible;
    background-color: white;
  }

  .autocomplete__results.fixed {
    position: fixed;
    top:40px;
  }
  
  .autocomplete__input {
    display: block;
    width: 100%;
    padding: 0.4rem 0rem 0.4rem 1rem;
    border: 2px solid hsl(212, 10%, 80%);
    border-radius: 5px;
  }
  
  .autocomplete__input:focus {
    border-color: hsl(221, 61%, 40%);
  }
  
  .autocomplete__dropdown-arrow {
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    height: 100%;
    transition: transform 0.2s linear;
    padding: 0.5rem 1rem;
  }
  
  .autocomplete__dropdown-arrow.expanded {
    transform: rotate(-180deg);
  }
  
  .autocomplete__results {
    visibility: hidden;
    position: absolute;
    top: 100%;
    margin-top: 0;
    width: 100%;
    overflow-y: auto;
    border: none;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    outline: none;
    padding: 0;
    max-height: 200px;
    z-index: 1;
  }

  .autocomplete__results > li.other-option {
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid #999;
  }
  
  .autocomplete__results > li {
    list-style: none;
    padding: 0.4rem 1rem;
    cursor: pointer;
  }
  
  .autocomplete__results > li:hover {
    background: hsl(212, 10%, 60%);
  }
  
  .autocomplete__results > li:focus {
    background: hsl(212, 10%, 70%);
  }

.dmpui-field-group input[type=text] {
  position: relative;
}