/* Override to just allow fontawesome to inherit size/color */
.fab:not(.small),
.fas:not(.small) {
  font-size: inherit;
  color: inherit;
}

/* Override to increase the size of the social media icons */
.fab.large,
.fas.large {
  font-size: 2rem;
}

/* Override the size of the DOCX and PDF icons */
a i.fab.fa-file-pdf-o:not(.small),
a i.fas.fa-file-pdf-o:not(.small),
a i.fab.fa-file-word-o:not(.small),
a i.fas.fa-file-word-o:not(.small) {
  font-size: 2.3rem;
}

.fa-question-circle:not(.small) {
  font-size: 1.8rem;
}
