div.email-preview-panel {
  border: 1px solid $color-grey;
}

div.email-preview-panel .panel-header {
  font-weight: 600;
}

div.email-preview-panel .panel-body {
  background-color: $color-light-grey;
}