<h3><%= _('Questions') %></h3>
<% questions = section.questions.order('number') %>
<% if questions.present? %>
  <% questions.each do |question| %>
    <%= render partial: 'org_admin/questions/container', 
               locals: local_assigns.merge({ question: question }) %>
    <% if questions.last.id != question.id %>
      <hr />
    <% end %>
  <% end %>
<% end %>
<% if template.latest? && section.modifiable? %>
  <div class="row">
    <div class="col-md-12">
      <h4 style="display: none"><%= _('New Question') %></h4>
      <div class="pull-right">
        <%= link_to(_('Add Question'), new_org_admin_template_phase_section_question_path(template_id: template.id, phase_id: section.phase.id, section_id: section.id), { class: 'btn btn-default question_new_link', role: "button" }) %>
      </div>
    </div>
    <div class="col-md-12 question_new"></div>
  </div>
<% end %>
