.outline-red {
  outline: 1px solid #dc3545;
}

body {
  margin: 30px;
}

.button-margin {
  margin: 10px;
}

.border {
  border: solid;
  border-color: grey;
  border-width: 1px;
  padding: 10px 17px 3px 17px;
  margin-bottom: 10px;
}

.icon-margin-top {
  margin-top: 15px;
}
