<div class="row">
  <div class="col-md-12">
    <h1><%= template.title %></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <!-- render navigation tabs for the template-->
    <%= render partial: "templates/admin_nav_tabs", locals: local_assigns %>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active">
        <%= render partial: partial_path, locals: local_assigns %>
      </div>
    </div>
  </div>
</div>