<%# Determine which tab to return to based on whether or not we're customizing %>
<% referrer = "#{org_admin_templates_path}##{template.customization_of.present? ? 'funder-templates' : 'organisation-templates'}" %>
<div class="row">
  <div class="col-md-12">
    <h1><%= template.id.present? ? template.title : _('New Template') %></h1>
    <%= link_to _('View all templates'), referrer, class: 'btn btn-default pull-right' %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <!-- render navigation tabs for the template-->
    <%= render partial: "org_admin/templates/navigation", locals: local_assigns %>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= render partial: partial_path, locals: local_assigns.merge(referrer: referrer) %>
            <%# Placeholder for overview section's phase accordion list %>
            <%# render partial: 'phases/index', locals: { phases: template.phases } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>