<% title _('Editing API client') %>
<h2>
   <%= _('Editing API Client') %>
   <%= link_to(_('View all API clients'), super_admin_api_clients_path,
       class: 'btn btn-secondary float-end', role: 'button') %>
 </h2>

<%= render 'form' %>
