@use "../../../../node_modules/bootstrap/scss/bootstrap" as *;
/* For sticky footer */
#footer-navbar {
  margin-bottom: 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius:0px;
  z-index: 1;
  ul {
    padding-right: calc($grid-gutter-width / 2);
  }
}
