a.has-new-window-popup-info,
button.has-new-window-popup-info {

  position:relative;
  z-index:24;

  & > span.new-window-popup-info {
    position: absolute;
    left: -9000px;
    width: 0;
    overflow: hidden;
  }

  &:hover,
  &:focus,
  &:active {

    z-index:25;

    & > span.new-window-popup-info {
      display:block;
      position:absolute;
      top:2em;
      left:-1em;
      width:12em;
      border-radius: 5px;
      border:1px solid #0cf;
      background-color:#cff;
      color:#000;
      text-align: center;
    }

  }

}
