.follow-up-funding .col-md-6 {
  margin-bottom: 10px;
}
.follow-up-funding .col-md-6:last-child {
  margin-bottom: 0px;
}

.related-work-row {
  margin-bottom: 10px;
}
.remove-related-work {
  margin-left: 20px;
}