@use '../variables/colours' as *;

.question-body .guidance-section {
  border-left: 5px solid $color-primary-background;
}
.question-body .question-section .toggle-guidance-section {
  background-color: $color-primary-background;
}

.nav-pills > li.active > a {
  background-color: $color-secondary-background;
  border-color: $color-primary-background;
  color: $color-secondary-text;
}
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: $color-primary-background;
  border-color: $color-primary-background;
  color: $color-primary-text;
}