label {
  font-weight: 600;

  // Add a space to the front of links that appear within a label becuase the white space
  // is getting collapsed
  a {
    padding-left: 3px;
  }
}

.form-horizontal .control-label {
  margin-bottom: 5px;
  text-align: left;
}