/* Overrides to make the Doorkeeper sign in window look good. */
.t-oauth #maincontent {
  min-width: 200px;
  max-width: 600px;
  margin: auto;
}

.t-oauth #maincontent .logo {
  text-align: center;
}

/* .t-oauth #maincontent img {
  width: 50%;
} */
/* .t-oauth #maincontent {
  margin-bottom: 15px;
} */

/* .btn,
input[type="text"],
input[type="email"] {
  font-size: 1.3rem;
} */