// Styling for the SSO bypass link found in the sign in/up block
#sign-in-bypass-sso, #sign-up-bypass-sso {
  margin-left: auto;
  margin-top: 2px;
}

// Styling for the Org select box displayed when there are multiple Orgs with the same Shib entityID
#sign-up-org_id select {
  max-width: 100%;
}