/* ACCORDIONS */
/* --------------------------------------- */
.heading-button {
  position: relative;
  background-color: $color-dark-blue;
  color: $color-white;

  .panel-heading {
    background-color: $color-dark-blue;
    padding-left: 10px;
  }
  .panel-title {
    margin-top: -1px;

    .fa {
      color: $color-white;
      font-size: 1.5rem;
      padding-right: 5px;
    }
  }
}

.panel-default > .panel-heading, .panel-title a {
  background-color: $color-dark-blue;
}