/* FORMS */
/* --------------------------------------- */
.form-group {
  margin-bottom: 8px;
}
.form-control {
  height: 28px;
  padding: 3px 8px;
}
.checkbox label input[type="checkbox"] {
  margin-top: 2px;
}
input[type="radio"], input[type="checkbox"] {
  background-color: $color-light-grey;
}
body#tinymce.mce-content-body {
  font-size: 14px !important;
}
#search-addon {
  padding: 3px 8px;
}
.combobox-suggestion:hover,
.combobox-suggestion:focus {
  color: $color-white;
  background-color: $color-dark-blue !important;
}

body, .dropdown-menu {
  font-size: 14px;
}