@import '../components/responsive';

#Dashboard {
}

#Dashboard h2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#Dashboard .project-list {
  display: grid;
  grid-gap: var(--grid-gap);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;

  [data-colname="funder"],
  [data-colname="grantId"],
  [data-colname="dmpId"],
  [data-colname="actions"] { display: none; }

  @include device(tablet) {
    grid-template-columns: repeat(3, 1fr);
    [data-colname="funder"] { display: block; }
  }

  @include device(laptop) {
    grid-template-columns: repeat(6, 1fr);
    [data-colname="grantId"],
    [data-colname="dmpId"],
    [data-colname="actions"] { display: block; }
  }

  @include device(laptop-large) {
  }
}
