.c-login {
  max-height: 625px;
  min-height: 400px;
  min-width: 400px;
  max-width: 400px;

  background-color: $color-white;
  padding: 0 10px 10px 10px;
}
.c-login h2 {
  color: $color-seccondary-text;
  font-size: 18px;
}
.c-login input,
.c-login select,
.c-login button {
  width: 100%;
}
.c-login .checkbox-label {
  width: 85%;
}
.c-login input[type="checkbox"] {
  width: auto;
}
.c-login .c-login-go-back {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
}