
/* Org Badning sub header */
.c-sub-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 20px;

  .c-logo-org {
    grid-column: 1;
  }

  .c-links-org {
    grid-column: 2;
  }

  .c-adminnav {
    grid-column: 3;
  }

}