/* Fonts */

@font-face {
  font-family: 'Source Sans 3 VF';
  font-style: normal;
  font-weight: 200 900;
  src:
    url(asset-path('SourceSans3VF-Roman.ttf.woff2')) format('woff2'),
    url(asset-path('SourceSans3VF-Roman.ttf.woff')) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans 3 VF';
  font-style: italic;
  font-weight: 200 900;
  src:
    url(asset-path('SourceSans3VF-Italic.ttf.woff2')) format('woff2'),
    url(asset-path('SourceSans3VF-Italic.ttf.woff')) format('woff');
  font-display: swap;
}

.fab:not(.small),
.far:not(.small),
.fas:not(.small) {
  font-size: inherit;
  color: inherit;
}

// Chosen for Accessibility (added for compliance with DMPRoadmap code)
$font-family: 'Source Sans 3 VF', Verdana, Trebuchet, Arial, sans-serif;
