<div class="row">
  <div class="col-md-12">
    <h1><%= raw _('Public DMPs') %></h1>
    <!-- if the user has projects -->
    <% if @plans.count > 0 %>
      <p class="left-indent">
        <%= _('Public DMPs are plans created using the %{application_name} service and shared publicly by their owners. They are not vetted for quality, completeness, or adherence to funder guidelines.') % {application_name: Rails.application.config.branding[:application][:name]} %>
      </p>
    <% else %>
      <p class="left-indent">
        <%= _("There are currently no public DMPs.")%>
      </p>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% if @plans.count > 0 %>
      <%= paginable_renderise(
        partial: '/paginable/plans/publicly_visible',
        controller: 'paginable/plans',
        action: 'publicly_visible', 
        scope: @plans) %>
    <% end %>
  </div>
</div>
