<% title _('Public DMPs') %>
<div class="row">
  <div class="col-md-12">
    <h1><%= _('Public DMPs') %></h1>
    <!-- if the user has projects -->
    <% if @plans.count > 0 %>
      <p class="start-indent">
        <%= _('Public DMPs are plans created using the %{application_name} service and shared publicly by their owners. They are not vetted for quality, completeness, or adherence to funder guidelines.') % {application_name: ApplicationService.application_name} %>
      </p>
    <% else %>
      <p class="start-indent">
        <%= _("There are currently no public DMPs.")%>
      </p>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% if @plans.count > 0 %>
      <%= paginable_renderise(
        partial: '/paginable/plans/publicly_visible',
        controller: 'paginable/plans',
        action: 'publicly_visible',
        remote: false,
        path_params: @args || {},
        query_params: query_params,
        scope: @plans) %>
    <% end %>
  </div>
</div>
