<div class="row">
  <div class="col-md-12">

  <!-- START DMPTool customization -->
  <!-- ========================================= -->
    <!-- <h1><%#= raw _('DMP Templates') %></h1> -->
    <h1><%= raw _('Funder Requirements') %></h1>
  <!-- ========================================= -->
  <!-- END DMPTool customization -->

    <% if @templates.count > 0 %>
      <p class="left-indent"><%= _('Templates for data management plans are based on the specific requirements listed in funder policy documents. The DMPTool maintains these templates, however, researchers should always consult the program officers and policy documents directly for authoritative guidance. Sample plans are provided by a funder or another trusted party.') %></p>
    <% else %>
      <p class="left-indent"><%= _('There are currently no public Templates.')%></p>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <% if @templates.count > 0 %>
      <%= paginable_renderise(
        partial: '/paginable/templates/publicly_visible',
        controller: 'paginable/templates',
        action: 'publicly_visible', 
        scope: @templates) %>
    <% end %>
  </div>
</div>