<p><%= link_to 'Select all', '#' %> |
	<%= link_to 'Deselect all', '#' %></p>
<% byebug %>
<div>
  <p><strong>All Users</strong></p>
	<div class="preferences">
		<input checked="checked" id="prefs_users_permission_granted" class="checkbox-input"
					 name="prefs[users][permission_granted]" type="checkbox" value="true">
		<label class="checkbox-label" for="prefs_users_permission_granted">New permissions granted to me</label>
		<%#=  check_box_tag 'prefs[users][permission_granted]', true, @user.prefs[:users][:permission_granted] %>
		<%#= label_tag 'prefs[users][permission_granted]', 'New permissions granted to me', :class => 'checkbox-label' %>
	</div>
  <div class="preferences">
		<input checked="checked" id="prefs_users_new_comment" class="checkbox-input"
					 name="prefs[users][new_comment]" type="checkbox" value="true">
		<label class="checkbox-label" for="prefs_users_new_comment">A new comment has been added to my DMP</label>
		<%#=  check_box_tag 'prefs[users][new_comment]', true, @user.prefs[:users][:new_comment] %>
		<%#= label_tag 'prefs[users][new_comment]', 'A new comment has been added to my DMP', :class => 'checkbox-label' %>
	</div>
</div>
<br/>
<div>
	<p><strong>DMP owners and co-owners</strong></p>
  <div class="preferences">
		<input checked="checked" id="prefs_owners_and_coowners_visibility_changed"
		class="checkbox-input" name="prefs[owners_and_coowners][visibility_changed]" type="checkbox" value="true">
		<label class="checkbox-label" for="prefs_owners_and_coowners_visibility_changed">My DMP's visibility has changed</label>
    <%#=  check_box_tag 'prefs[owners_and_coowners][visibility_changed]', true, @user.prefs[:owners_and_coowners][:visibility_changed] %>
    <%#= label_tag 'prefs[owners_and_coowners][visibility_changed]', "My DMP's visibility has changed", :class => 'checkbox-label' %>
  </div>
  <div class="preferences">
		<input checked="checked" id="prefs_owners_and_coowners_user_added" class="checkbox-input" name="prefs[owners_and_coowners][user_added]" type="checkbox" value="true">
		<label class="checkbox-label" for="prefs_owners_and_coowners_user_added">I have been made a co-owner of a DMP</label>
    <%#=  check_box_tag 'prefs[owners_and_coowners][user_added]', true, @user.prefs[:owners_and_coowners][:user_added] %>
    <%#= label_tag 'prefs[owners_and_coowners][user_added]', 'I have been made a co-owner of a DMP', :class => 'checkbox-label' %>
	</div>
</div>
<br/>
<div>
	<p><strong>DMP administrators</strong></p>
  <div class="preferences">
		<input checked="checked" id="prefs_admins_template_published" class="checkbox-input" name="prefs[admins][template_published]" type="checkbox" value="true">
		<label class="checkbox-label" for="prefs_admins_template_published">An organisational template is published</label>
		<%#=  check_box_tag 'prefs[admins][template_published]', true, @user.prefs[:admins][:template_published] %>
		<%#= label_tag 'prefs[admins][template_published]', 'An organisational template is published', :class => 'checkbox-label' %>
	</div>
  <div class="preferences">
		<input checked="checked" id="prefs_admins_template_unpublished" class="checkbox-input"
		name="prefs[admins][template_unpublished]" type="checkbox" value="true">
		<label class="checkbox-label" for="prefs_admins_template_unpublished">An organisational template is unpublished</label>
		<%#=  check_box_tag 'prefs[admins][template_unpublished]', true, @user.prefs[:admins][:template_unpublished] %>
		<%#= label_tag 'prefs[admins][template_unpublished]', 'An organisational template is unpublished', :class => 'checkbox-label' %>
	</div>
</div>
<br/>
<div>
	<%= button_to 'Save', user_update_preferences_path(@user), class: 'form-submit btn btn-primary' %>
 	<%= link_to 'Cancel', '#', class: 'btn btn-primary' %>
</div>
