<%= f.label(:text, sanitize(question.text), class: 'control-label') unless question.nil? %>
<% data = answer.madmp_fragment.data unless answer.madmp_fragment.nil? %>
<% parent_id = answer.madmp_fragment.id unless answer.madmp_fragment.nil? %>
<% classname = answer.madmp_fragment.classname unless answer.madmp_fragment.nil? %>
<div class="form-group madmp-fragment fragment-<%= parent_id %>">   
  <%= render(partial: 'shared/dynamic_form/form', locals: { 
        f: f,
        data: data, 
        readonly: readonly,
        research_output: research_output,
        schema: question.madmp_schema.schema,
        classname: classname,
        parent_id: parent_id
      }) %>
</div>