<%= f.label(:text, sanitize(question.text), class: 'control-label') unless question.nil? %>
<div class="form-group structured-answer">   
  <% data = answer.structured_answer.data unless answer.structured_answer.nil? %>
  <%= render(partial: 'shared/dynamic_form/form', locals: { f: f, data: data, readonly: readonly, schema: question.structured_data_schema.schema }) %>
</div>