<!-- This file might not be used! -->

<h1><%= t('helpers.settings.plans.title') -%> - <%= @plan.project.title -%></h1>
<p><%= t('helpers.settings.plans.description') -%></p>

<%= render "export_formatting_form" %>
