@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
@import "./components/responsive";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  // TODO:: Use proper colour names here and replace the values for our
  // components with those.

  --dmpui-brand-gray-100: #f2f2f2;

  --dmpui-brand-blue-100: #f0fbff;
  --dmpui-brand-blue-200: #eff6ff;

  --dmpui-brand-blue-400: #54d8ff;
  --dmpui-brand-blue-500: #004eaa;
  //--dmpui-brand-blue-600: #000;
  //--dmpui-brand-blue-700: #000;
  --dmpui-brand-blue-800: #0c0b57;
  --dmpui-brand-blue-900: #05042e;

  --dmpui-brand-red-500: #d3273e;

  --dmpui-brand-yellow-100: #fefce8;
  --dmpui-brand-yellow-500: #ffc845;

  --dmpui-brand-green-100: #f0fdf4;
  --dmpui-brand-green-500: #006c6c;

  /* Root level css variables go here */
  --btn-font-family: "Poppins", sans-serif;
  --btn-basic-bg-color: #ddd;
  --btn-basic-fg-color: #333;
  --btn-border-radius: 20px;

  --btn-primary-bg-color: #05042e;
  --btn-primary-fg-color: white;

  /* Form components */
  --form-field-label-color: #050a69;
  --form-field-bg-color: white;
  --form-field-fg-color: #333;
  --form-field-border-color: #e1e1e1;

  --input-required-color: red;

  /* Data Grid */
  --grid-gap: 1rem;
  --grid-row-selected-bg: var(--dmpui-brand-gray-100);
  --grid-row-selected-fg: var(--dmpui-brand-blue-900);
  --grid-row-selected-border: 1px solid var(--dmpui-brand-blue-900);
}

#App {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: var(--dmpui-brand-blue-900);
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  h1,
  .h1 {
    font-size: 1.875rem;
  }

  h2,
  .h2 {
    font-size: 1.5625rem;
  }

  h3,
  .h3 {
    font-size: 1.125rem;
  }

  p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--dmpui-brand-blue-900);
  }

  a {
    color: var(--dmpui-brand-blue-500);

    &:hover {
      text-decoration: underline;
      color: var(--dmpui-brand-blue-900);
    }
  }
}

.todo {
  --_color-todo: var(--color-todo, #700);

  position: relative;
  border: 1px dashed var(--_color-todo);
}

.todo:after {
  content: "todo";
  position: absolute;
  background-color: var(--_color-todo);
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 0.25em;
  top: 0;
  right: 0;
}

body {
  /* TODO:: */
}

@import "components/forms";

/* Dialog and Fullscreen API Styles */
dialog {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  border-radius: 0.6rem;
  background-color: white;
  box-shadow: 0 0 1em black;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  max-width: 750px;
  width: 80vw;
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Tables */

// TODO::FIXME:: This data grid component is just temporary. Chances are we'll
// be using a third party grid. We use the following just wile setting up the
// basic layout
.data-grid {
  display: grid;
  grid-gap: var(--grid-gap);
}

.data-heading {
  font-weight: 700;
}

.dmpui-heading {
  text-align: left;
  margin-top: 1rem;

  h1,
  .h1 {
    margin-bottom: 1.25rem;
  }

  h2,
  .h2 {
    margin-bottom: 1.25rem;
  }

  &.with-action-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.plan-steps {
  text-align: left;
  padding: 2.5rem 2.5rem 2.5rem 2.5rem;
  border: 1px solid #eee;
  margin-bottom: 2rem;
  border-radius: 12px;
}

.page-actions {
  margin: 2rem 0;
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: 10px;
  }
}

.dmpdui-top-actions {
  margin: 2rem 0 1rem 0;
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: 10px;
  }
}

.plan-steps-step {
  display: flex;
  border-bottom: 1px solid #eee;
  padding: 1.125rem 0;

  align-items: center;

  &.last {
    border-bottom: 1px solid transparent;
  }

  p {
    line-height: normal;
    color: var(--dmpui-brand-blue-500);
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-size: 1.125rem;
  }

  a {
    line-height: normal;
    color: var(--dmpui-brand-blue-500);
    text-decoration: none;
    margin: 0;
    padding: 0;

    &:hover {
      outline: none !important;
      text-decoration: underline;
    }

    &:active,
    &:focus {
      color: #0b0c0c;
      background-color: #fd0;
      box-shadow: 0 -2px 0px 0px rgba(255, 221, 0, 0.281),
        0 4px rgba(255, 221, 0, 0.281);
      text-decoration: none;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      outline: none !important;
      text-decoration: underline;
    }
  }
}

.step-status {
  padding: 0.3rem 0.8rem;
  background: var(--dmpui-brand-gray-100);
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: normal;
  color: var(--dmpui-brand-blue-900);
  margin-left: 1rem;

  &.status-completed {
    background-color: var(--dmpui-brand-green-100);
    color: var(--dmpui-brand-blue-900);
  }

  &.status-recommended {
    background-color: var(--dmpui-brand-blue-100);
    color: var(--dmpui-brand-blue-900);
  }

  &.status-notstart {
    background-color: var(--dmpui-brand-blue-200);
    color: var(--dmpui-brand-blue-900);
  }
}

.dmpdui-list {
  padding: 2.5rem;
  border: 1px solid #eee;
  margin: 2rem 0;

  display: grid;
  grid-gap: var(--grid-gap);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;

  align-items: center;

  .empty-list {
    grid-row: 1;
    grid-column: 1 / span 2;
    font-weight: bold;
    text-align: center;
  }

  @include device(tablet) {
    grid-template-columns: repeat(3, 1fr);

    .empty-list {
      grid-column: 1 / span 3;
    }
  }

  @include device(laptop) {
  }

  @include device(laptop-large) {
  }

  &.dmpdui-list-research {
    grid-template-columns: repeat(6, 1fr);

    .empty-list {
      grid-column: 1 / span 6;
    }
  }
}
