@import "components/responsive";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  // TODO:: Use proper colour names here and replace the values for our
  // components with those.

  /* Root level css variables go here */
  --btn-basic-bg-color: #ddd;
  --btn-basic-fg-color: #333;
  --btn-border-radius: 5px;

  --btn-primary-bg-color: #05042e;
  --btn-primary-fg-color: white;

  /* Form components */
  --form-field-label-color: #050a69;
  --form-field-bg-color: white;
  --form-field-fg-color: #333;
  --form-field-border-color: #e1e1e1;

  --input-required-color: red;

  /* Data Grid */
  --grid-gap: 1rem;
}


.todo {
  --_color-todo: var(--color-todo, #700);

  position: relative;
  border: 1px dashed var(--_color-todo);
}

.todo:after {
  content: "todo";
  position: absolute;
  background-color: var(--_color-todo);
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 0.25em;
  top: 0;
  right: 0;
}

body {
  /* TODO:: */
}

header {
  /* TODO:: */
  padding: 1rem;
}

footer {
  /* TODO:: */
  padding: 1rem;
  ;
}

main {
  /* TODO:: Responsive Flex/Grid Layout */
  padding: 2rem;
}

@import 'components/forms';

/* Tables */
// TODO::FIXME:: This data grid component is just temporary. Chances are we'll
// be using a third party grid. We use the following just wile setting up the
// basic layout
.data-grid {
  display: grid;
  grid-gap: var(--grid-gap);
}

.data-heading {
  font-weight: bold;
}



.dmpui-heading {
  text-align: left;

  h2,
  .h2 {
    margin-bottom: 1.25rem;
  }
}

.form-wrapper {
  text-align: left;
  padding: 20px;
  border: 1px solid #eee;
  margin-bottom: 2rem;
  border-radius: 12px;
}

.plan-steps {
  text-align: left;
  padding: 20px;
  border: 1px solid #eee;
  margin-bottom: 2rem;
  border-radius: 12px;
}

.page-actions {

  button {
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-weight: bold;

  }
}

.plan-steps-step {
  display: flex;
  border-bottom: 1px solid #eee;
  padding: 1rem 0;
  justify-content: space-between;

  p,
  a {
    color: #004eaa;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

}

.step-status {
  padding: 0.3rem 1rem;
  background: #eee;
  border-radius: 20px;
  font-size: 1rem;
  color: #05042e;

  &.status-completed {
    background-color: #ffc845;
  }

  &.status-recommended {
    background-color: #54d8ff;
  }
}