<div id="link-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title fontsize-h4">
          <%= _('Copy link') %>
        </p>
        <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="<%= _('Cancel') %>"></button>
      </div>
      <div class="modal-body">
        <form>
          <input type="text" id="link" readonly="readonly" style="width: 100%">
        </form>
      </div>
      <div class="modal-footer">
        <button id="copy-link-btn" class="btn btn-secondary"><%= _('Copy link') %></button>
      </div>
    </div>
  </div>
</div>