<!-- requires local variables:
  id: to identify the modal container
  title: to display a message in the modal header
  yield will get replaced with the partial passed to this layout
-->
<div class="modal fade" id="<%= id %>" tabindex="-1" role="dialog" aria-labelledby="modal-title">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p class="modal-title fontesize-h4" id="modal-title">
          <%= title %>
        </p>
      </div>
      <div class="modal-body">
        <%= yield %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
