<%# available locals: message, placement %>
<% if message.present? %>
  <a href="#" class="btn btn-default" data-toggle="tooltip" 
     title="<%= message %>" placement="<%= placement %>">
    <i class="fa fa-question-circle"></i>
  </a>
<% end %>