<div class="tabbed-area">
  <ul class="tabs" role="tablist">
    <li id="sign-in-tab" class="active" role="tab" aria-controls="sign-in-panel">
      <a href="#sign-in-panel" aria-selected="true"><%= _('Sign In') %></a>
    </li>
    <li id="create-account-tab" role="tab" aria-controls="create-account-panel">
      <a href="#create-account-panel" aria-selected="false"><%= _('Create Account') %></a>
    </li>
  </ul>
  <div class="tab-panels" role="tabpanel">
    <div id="sign-in-panel" class="tab-panel active centered" aria-hidden="false" aria-labelledby="sign-in-tab">
      <%= render :partial => 'shared/login_form' %>
    </div>
    <div id="create-account-panel" aria-hidden="true" class="tab-panel" role="tabpanel" aria-labelledby="create-account-tab">
      <%= render :partial => 'shared/register_form', locals: {extended: false} %>
    </div>
  </div>
</div>