<!-- This file might not be used! -->
<div class="row">
  <div class="col-md-12">
    <h1><%= _('File Name') -%> - <%= @plan.title -%></h1>
    <p><%= _('Description') -%></p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render "export_formatting_form" %>
  </div>
</div>
