<%
  application_name = ApplicationService.application_name
%>

<% title _("Welcome to %{application_name}.") % {application_name: application_name} %>
<div>
  <h1><%= _("Welcome to %{application_name}.") % {application_name: application_name}%></h1>

  <%

    landing_page_content = _(%{
      <!-- landing page content -->
      <p>
        The <strong>DMP Assistant</strong> is a national, online, bilingual data management planning tool developed by the <strong>Digital Research Alliance of Canada (the Alliance)</strong> in collaboration with host institution <strong>University of Alberta</strong> to assist researchers in preparing <strong>data management plans (DMPs)</strong>. This tool is freely available to all researchers, and develops a DMP through a series of key data management questions, supported by best-practice guidance and examples.
      </p>

      <p>
        DMPs are one of the foundations of good research data management (RDM), an international best practice, and increasingly required by institutions and funders, including the Canadian Tri-Agencies as outlined in their <a href='http://www.science.gc.ca/eic/site/063.nsf/eng/h_97610.html'>Research Data Management Policy</a>.
      </p>

      Getting started:

      <ul>
        <li>
          <a href="https://doi.org/10.5281/zenodo.4001010">Brief Guide – Data Management Plans</a>
        </li>
        <li>
          <a href="https://doi.org/10.5281/zenodo.4004956">Brief Guide – Create an Effective Data Management Plan</a>
        </li>
        <li>
          <a href="https://doi.org/10.5281/zenodo.4001018">Primer – Data Management Plan</a>
        </li>
        <li>
          <a href="https://portagenetwork.ca/tools-and-resources/dmp-assistant/how-to-manage-your-data/">How to Manage Your Data</a>
        </li>
        <li>
          Tutorial Videos:
          <ul>
            <li>
              <a href="https://youtu.be/L9AbOoHk-PA">Introduction to Data Management Plans (DMPs)</a>
            </li>
            <li>
              <a href="https://youtu.be/N_Mzq60D4nc">Introduction to DMP Assistant</a>
            </li>
            <li>
              <a href="https://youtu.be/iY5tzxFwM8s">Managing DMPs with DMP Assistant</a>
            </li>
          </ul>
        </li>
        <li>
          Webinars:
          <ul>
            <li>
              <a href="https://www.youtube.com/watch?v=Cp1O7vXLPao">Support Your Research with DMP Assistant 2.0</a>
            </li>
            <li>
              <a href="https://www.youtube.com/watch?v=uXjOKaJwYsk">Support Your Research with Data Management Planning</a>
            </li>
          </ul>
        </li>
      </ul>

      <p>
        For more resources and training materials spanning the entire research data life cycle, see the <a href="https://alliancecan.ca/en/services/research-data-management/learning-and-training/training-resources/"> Portage Network Training Resources. </a>
      </p>

      <p>
        The DMP Assistant was adapted from the <a href="https://dcc.ac.uk/"> Digital Curation Centre (DCC)</a>’s <a href="https://dmponline.dcc.ac.uk/">DMPonline</a> tool, and uses the DMP Roadmap codebase developed by DCC and the <a href=" https://cdlib.org/services/uc3/">University of California Curation Center (UC3).</a>
      </p>
    })

  %>


<%= sanitize(landing_page_content) %>

</div>