<div class="row">
  <div class="col-xs-12">
    <h2>
      <%= @schema.label %>
      <%= link_to(_('View all schemas'), super_admin_madmp_schemas_path,
          class: 'btn btn-default pull-right', role: 'button') %>
    </h2>
  </div>
</div>
<%= render partial: 'form' %>