<div class="row">
  <div class="col-md-12">
    <h1><%= _("Contact Us") %></h1>
    <p>
      <%= raw _('%{application_name} is provided by the %{organisation_name}. You can find out more about us on our <a href="%{organisation_url}" target="_blank">website</a>.<br />If you would like to contact us about %{application_name}, please fill out the form below.') % {organisation_name: Rails.configuration.branding[:organisation][:name],
        organisation_url: 'https://www.cdlib.org/',
        application_name: Rails.configuration.branding[:application][:name]} %>
    </p>
  </div>
</div>
<div class="row">

<!-- START DMPTool customization -->
<!-- ========================================= -->
  <!-- <div class="col-md-6"> --><!-- Left column container -->
      <%#= render :partial => "contact_us/contacts/new_left" %>
  <!-- </div> --><!-- Left column container -->
  <!-- <div class="col-md-6"> --><!-- Right column container -->
    <!-- <div class="pull-right"> -->
      <%#= render :partial => "contact_us/contacts/new_right" %>
    <!-- </div> -->
  <!-- </div> --><!-- Right column container -->
  
  <div class="col-md-5"><!-- Left column container -->
      <%= render :partial => "contact_us/contacts/new_left" %>
  </div><!-- Left column container -->
  <div class="col-md-1">&nbsp;</div>
  <div class="col-md-6"><!-- Right column container -->
    <%= render :partial => "contact_us/contacts/new_right" %>
  </div><!-- Right column container -->
<!-- ========================================= -->
<!-- END DMPTool customization -->
 
</div>