<% title _('Contact Us') %>
<div class="row mt-5">
  <div class="col-md-12">
    <h1><%= _("Contact Us") %></h1>
    <p>
      <%= sanitize _('%{application_name} is provided by the %{organisation_name}.<br /> You can find out more about us on our <a href="%{organisation_url}" class="has-new-window-popup-info" target="_blank">website <em class="sr-only">(new window)</em><span class="new-window-popup-info">%{open_in_new_window_text}</span></a>. If you would like to contact us about %{application_name}, please fill out the form below.') % {
        organisation_name: Rails.configuration.x.organisation.name,
        organisation_url: Rails.configuration.x.organisation.url,
        application_name: ApplicationService.application_name,
        open_in_new_window_text: _('Opens in new window') },
        tags: %w( a br span em ) %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-6"><!-- Left column container -->
      <%= render :partial => "contact_us/contacts/new_left" %>
  </div><!-- Left column container -->
  <div class="col-md-6"><!-- Right column container -->
    <div class="float-end">
      <%= render :partial => "contact_us/contacts/new_right" %>
    </div>
 </div><!-- Right column container -->
</div>
