<div style="margin:0;padding:0">
  <div class="main_header">
    <div class="header_left">
      <div class="home_logo">
        <p><h1>Super Admin area</h1></p>
        <%= link_to(image_tag("logo.jpg"), root_path)%>
      </div>
    </div>
  </div>
</div>
