<div class="row">
  <div class="col-xs-12">
    <h2>
      <%= _("Edit registry value") %>
      <%= link_to(_('View registry'), super_admin_registry_path(@registry),
          class: 'btn btn-default pull-right', role: 'button') %>
    </h2>
  </div>
</div>
<%= render partial: 'form' %>