<%# locals: { answer } %>
<!-- Partial for handling the answer status (e.g. Saving, Unsaved, Not Answered, Answered) -->
<p class="bg-primary saving-message" style="display:none;">
    <%= _('Saving...')%>
</p>
<p class="bg-warning unsaved-message" style="display: none;"></p>
<% if answer.is_valid? %>
    <p class="bg-info">
      <%= _('Answered')%> <time class="timeago" datetime="<%= answer.updated_at.iso8601 %>"></time>
      <%= _(' by %{user_name}') %{ :user_name => answer.user.name } if answer.user.present? %>
    </p>
<% end %>