<div class="dmpopidor-front-page">
  <div class="row main-title">
    <h1>
      <%= _('News') %>
    </h1>
    <div class="dmp-visit">
      <h2><%= _('First time visiting?') %></h2>
      <p><%= _('Discover DMP OPIDoR in three minutes!') %></p>
      <i class="fa fa-circle-play" aria-hidden="true"></i>
    </div>
  </div>
  <div class="row">
    <dmp-news-page props-json='{ "locale": "<%= locale %>" } '/>
  </div>
</div>
