<%# locals: { fragment, parameters, template_locale } %>
<% runned_scripts = fragment.additional_info["runned_scripts"] %>
<% if parameters.is_a?(Array) %>
    <% parameters.each do |param|
        disabled = param["oneshot"] && runned_scripts&.dig(param["script_id"].to_s).present?
    %>
        <%= render(partial: 'dynamic_form/codebase/run_button', locals: { 
            fragment_id: fragment.id,
            label: param["label@#{template_locale}"],
            ttip: param["tooltip@#{template_locale}"],
            script_id: param["script_id"],
            disabled: disabled
        }) %>
    <% end %>
<% else %>
    <% disabled =  parameters["oneshot"] && runned_scripts&.dig(parameters["script_id"].to_s).present? %>
    <%= render(partial: 'dynamic_form/codebase/run_button', locals: { 
        fragment_id: fragment.id,
        label: parameters["label@#{template_locale}"],
        ttip: parameters["tooltip@#{template_locale}"],
        script_id: parameters["script_id"],
        disabled: disabled
        }) %>
<% end %>
<span class="message-zone"><%= _('New data have been added to your plan, please click on the "Reload" button.') %></span>