<div class="main-nav">
  <nav id="app-navbar" class="navbar nabar-fixed-top">
    <div class="row">
      <div class="col-md-12">
        <%= render 'layouts/dmptool/account_menu' %>
        <%= render 'layouts/dmptool/branding' %>
        <%= render 'layouts/dmptool/menu' %>
      </div>
    </div>
  </nav>
</div>
