/* LINKS AND BUTTONS */
/* --------------------------------------- */

a, a:hover, a:focus, a:visited, a:active, a:active:hover,
li > a, li > a:hover, li > a:focus, li > a:visited, li > a:active, li > a:active:hover,
.navbar-nav > li > a, .navbar-nav > li > a:hover, .navbar-nav > li > a:focus, .navbar-nav > li > a:visited, .navbar-nav > li > a:active, .navbar-nav > li > a:active:hover,
.dropdown-menu > li > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:visited, .dropdown-menu > li > a:active, .dropdown-menu > li > a:active:hover {
  color: $color-dark-blue;
  background-color: inherit;
  text-decoration: none;
  font-size: inherit;
}

a:focus, a:hover, a:active, a:active:hover,
li > a:focus, li > a:hover, li > a:active, li > a:active:hover
.navbar-nav > li > a:focus, .navbar-nav > li > a:hover, .navbar-nav > li > a:active, .navbar-nav > li > a:active:hover,
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:active, .dropdown-menu > li > a:active:hover,
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover, .nav .open > a:active, .nav .open > a:active:hover {
  text-decoration: underline;
  font-size: inherit;
  background-color: inherit;
}

a .fa, a:focus .fa, a:hover .fa, a:active .fa, a:active:hover .fa,
li > a .fa, li > a:focus .fa, li > a:hover .fa, li > a:active .fa, li > a:active:hover
.navbar-nav > li > a .fa, .navbar-nav > li > a:focus .fa, .navbar-nav > li > a:hover .fa, .navbar-nav > li > a:active .fa, .navbar-nav > li > a:active:hover .fa,
.dropdown-menu > li > a .fa, .dropdown-menu > li > a:focus .fa, .dropdown-menu > li > a:hover .fa, .dropdown-menu > li > a:active .fa, .dropdown-menu > li > a:active:hover .fa,
.nav .open > a .fa, .nav .open > a:focus .fa, .nav .open > a:hover .fa, .nav .open > a:active .fa, .nav .open > a:active:hover .fa {
 font-size: 19px !important; /* prefer these to be inherit */
 color: $color-dark-blue; /* prefer these to be inherit */
}

.fa:not(.small) {
  font-size: 19px !important; /* prefer these to be inherit */
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: $color-dark-blue;
}