$blue: #2c7dad;
$dark-blue: #172849;
$light-blue: #6ba4c5;
$very-light-blue: #c8e1f1;
$very-very-light-blue: #edf5fa;
$white: #fff;
$black: #000;
$rust: #c6503d;
$light-rust: #faefed;
$yellow: #FFCC00;
$light-yellow: #fff9e5;
$green: #2CAD5D;
$light-grey: #e5e4e7;
