$blue: #146b3a;
$dark-blue: #165b33;
$light-blue: #587826;
$very-light-blue: #94C840;
$very-very-light-blue: #f8fbf3;
$white: #fff;
$black: #000;
$rust: #bb2528;
$light-rust: #faefed;
$yellow: #f8b229;
$light-yellow: #fff9e5;
$green: #2CAD5D;
$light-grey: #e5e4e7;
