@use './colours' as *;
@use './dropdowns' as *;

header.dmpopidor-branding {
  display: flex;
  flex-direction: column;

  // #####################################################
  // NAVIGATION
  // #####################################################


  .main-nav {
    display: flex;
    justify-content: center;
    background-color: $white;
    min-height: 100px;
    width: 100%;

    position: fixed;
    top: 0;
    z-index: 10;

    #app-navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 1440px;

      color: $dark-blue;


      .header-logo {

        // margin-right: auto;
        .app-logo {
          height: 75px;
        }
      }

      .navbar-content {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
      }

      .header-links,
      .header-language-account {
        min-height: 75px;
        display: flex;
        align-items: center;
        font-size: 20px;
        text-transform: uppercase;
        @include dmpopidor-dropdown;

        a {
          text-decoration: none;
        }
      }

      .header-language-account {
        #signin-signout {
          &>a {
            border-radius: 15px;
            color: $white;
            background-color: $dark-blue;
          }
        }
        &>li.active {
          font-weight: bold;
        }
      }


    }
  }

  // #####################################################
  // HEADER BANNER
  // #####################################################
  .header-banner-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -1;
  }

  .header-banner {
    align-self: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    max-width: 1440px;
    min-height: 500px;
    padding: 150px 50px 100px 50px;
    z-index: 1;
    opacity: 0.9;

    // #####################################################
    // ORG BRANDING
    // #####################################################

    .org-branding {
      display: flex;
      flex-direction: column;

      #org-navbar {
        margin-top: auto;
        padding: 30px;
        width: 100%;
        border-radius: 15px;
  
        .org-infos {
          display: flex;
          .org-logo {
            flex: 1;
            &.no-logo {
              font-size: xx-large;
              color: $dark-blue;
              text-align: center;
              padding: 15px;
              font-family: "Times New Roman";
            }
          }
  
          .org-links-area {
            flex: 2;
            font-size: large;
            .org-a {
              padding: 0 15px;
            }
            a {
              color: $dark-blue;
            }
          }
        }
  
        .org-banner-text {
          font-size: large;
          padding-top: 5px;
          a {
            color: black;
            text-decoration: underline;
          }
  
          &.org-deactivated {
            color: $rust;
            margin: auto;
            font-weight: 600;
          }
  
        }
      }
      .homepage-h1 {
        color: white;
        font-size: 60px;
        font-weight: bold;
      }
      .homepage-h2 {
        color: white;
        width: 75%;
        font-size: 35px;
      }
    }


    // #####################################################
    // NOTIFICATIONS
    // #####################################################

    .notification {
      border-radius: 15px;
      font-size: large;

      &.alert-info {
        background-color: $dark-blue;
        color: white;

        a {
          color: white;
          text-decoration: underline;
        }
      }

      &.alert-warning {
        background-color: #5D4A27;
        color: white;

        a {
          color: white;
          text-decoration: underline;
        }
      }
      &.alert-danger {
        background-color: $rust;
        color: white;

        a {
          color: white;
          text-decoration: underline;
        }
      }
    }

    #notification-area {
      margin-top: auto;
    }
  }

}
