@use './colours' as *;
@use './overlay' as *;

.madmp-fragment {
  .dynamic-field {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    justify-content: space-between;

    input {
      flex: 9;
    }

    span {
      text-align: center;

      &.invalid {
        color: $rust;
      }

      &.valid {
        color: $green;
      }

      &.explanation {
        color: $blue;
        cursor: pointer;
      }
    }

    &.select-field,
    &.linked-fragments-select,
    &.contributor-field {

      .add-indicator,
      .selected-values-label {
        color: $blue;
        font-weight: bold;
      }

      select {
        width: 100% !important;
      }

      .overridable-link {
        float: left;
        width: 100%;
      }

      .custom-value {
        display: flex;
        padding: 5px 0 0 0;

        label {
          color: $blue;
          margin-right: 5px;
          padding: 0;
        }
      }

      .field-button-combo {
        display: flex;
        align-items: center;
        width: 100%;

        .remove-button {
          margin-left: 5px;
          color: $blue;
          cursor: pointer;
        }
      }

      .message-area {
        display: none;
        font-weight: bold;
        color: $rust;
      }
    }

    &.select-field,
    &.contributor-field {
      flex-direction: column;

      ul.selected-values {
        display: flex;
        flex-direction: column;

        .selected-value {
          flex: 1 1 25%;
        }

        .remove-button {
          color: $blue;
          padding-left: 5px;
        }
      }
    }

    &.linked-fragments-select {
      flex-direction: column;

      .add-fragment {
        padding-left: 5px;
      }
    }

    .linked-fragments-list {
      margin-top: 10px;
    }
  }

  .const-field {
    display: flex;
    flex-direction: column;
    padding-bottom: 3px;

    .field-label {
      font-weight: bold;
      color: $black;
    }
  }

  .min-max {
    font-size: 12px;
    color: $dark-blue;
  }

  fieldset {
    .intermediate-label {
      color: $dark-blue
    }

    .registry-info {
      font-size: 15px;
    }

    &.sub-fragment {
      width: 100%;
      border-radius: 5px;
      margin: 15px 0;
      padding-bottom: 15px;

      legend {
        color: $rust;
        text-transform: none;
      }

      &.registry {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    &.fragment-fieldset {
      display: flex;
      flex-direction: column;

      .answer-bottom-zone {
        position: sticky;
        bottom: 0;
        background-color: $very-very-light-blue;
        z-index: 2;
        border: 1px solid $blue;
        color: $dark-blue;
        padding: 0 5px;

        display: flex;
        align-items: center;
        -webkit-transition: all .3s linear 0s;
        transition: all .3s linear 0s;

        .schema-picker-zone {
          flex: 2;
        }

        .answer-save-zone {
          flex: 1;
        }

        .answer-save-zone,
        .schema-picker-zone {
          display: flex;
          flex-direction: column;
          padding: 5px;

          .message-zone {
            text-align: center;
            font-weight: bold;
            color: $rust;
            display: none;

            &.valid {
              color: $green;
            }

            &.invalid {
              color: $rust;
            }
          }

          .btn {
            font-size: 20px;
            font-weight: 700;

            &.answer-save-button {
              background-color: $rust;
              border-color: $rust;
            }
          }
        }
      }
    }

    &.registry {
      legend {
        color: $blue;
        text-transform: none;
      }
    }
  }


  .actions {
    flex: 1;
    text-align: right;
    color: $blue;

    &:not(.contributors) {
      width: 20%;
    }

    .delete {
      cursor: pointer;
      color: $blue;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .overlay {
    @include overlay();
  }

}

.spinner {
  margin: 0 auto;
  height: 64px;
  width: 64px;
  animation: rotate 0.8s infinite linear;
  border: 5px solid $rust;
  border-right-color: transparent;
  border-radius: 50%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.fragment-display {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px 20px;

  .fragment-property {
    display: flex;

    .property-label {
      flex: 1;
      font-weight: bold;
      color: $dark-blue;
    }

    .property-value {
      flex: 3;
    }
  }

  &.sub-fragment {
    border: none;
    border-left: 2px solid $dark-blue;
  }
}

#modal-window {
  .modal-dialog {
    width: 50%;
  }

  .modal-footer .message-area {
    font-weight: bold;
  }
}
