@use './colours' as *;

.dmpopidor-branding {
  .nav-tabs {
    background-color: $blue;

    li>a {
      color: $white
    }

    li>a:hover,
    li>a:focus,
    li.active>a,
    li.active>a:focus,
    li.active>a:hover {
      color: $blue;
      border: 1px solid $blue;
      border-bottom-color: transparent;
      background-color: $white;
    }

    li.phase-tab>a {
      background-color: $dark-blue;
    }

    li.phase-tab>a:hover,
    li.phase-tab>a:focus,
    li.active.phase-tab>a,
    li.active.phase-tab>a:focus,
    li.active.phase-tab>a:hover {
      color: $dark-blue;
      background-color: white;
      border: 1px solid $dark-blue;
      border-bottom-color: transparent;
    }
  }

  .nav-pills {
    background-color: $blue;

    li>a {
      color: $white;

    }

    li>a:hover,
    li>a:focus,
    li.active>a,
    li.active>a:focus,
    li.active>a:hover {
      color: $blue;
      border: 1px solid $blue;
    }
  }


  &.org-admin {
    .nav-tabs {
      background-color: $rust;

      li>a:hover,
      li>a:focus,
      li.active>a,
      li.active>a:focus,
      li.active>a:hover {
        color: $rust;
        border: 1px solid $rust;
        border-bottom-color: transparent;
      }
    }

    .nav-pills {
      background-color: $rust;

      li>a:hover,
      li>a:focus,
      li.active>a,
      li.active>a:focus,
      li.active>a:hover {
        color: $rust;
        border: 1px solid $rust;
      }
    }
  }

  // &.super-admin {}
}

div.navbar-ex1-collapse {
  list-style: none;
}

ul.dropdown-menu.dmpopidor-dropdown {
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px;
}

.dropdown-menu {
  position: relative;
  top: unset;
  left: unset;
  z-index: unset;
  float: unset;
  min-width: unset;
  padding: 5px 0;
  margin: unset;
  text-align: unset;
  background-clip: unset;
  box-shadow: unset;
}

/*
    DESKTOP NAVBAR
*/

@media (min-width: 768px) {

  ul.nav li ul.dropdown-menu {
    top: 50px;
    padding: 0;
    z-index: 1;
  }

  .navbar-default .navbar-nav>.open>a,
  .navbar-default .navbar-nav>.open>a:hover,
  .navbar-default .navbar-nav>.open>a:focus {
    color: $dark-blue !important;
    background-color: $white !important;
  }

  .navbar-default .navbar-nav>.active>a,
  .navbar-default .navbar-nav>.active>a:hover,
  .navbar-default .navbar-nav>.active>a:focus {
    color: $white !important;
    background-color: $dark-blue !important;
    font-weight: bold;
  }

  .navbar-default .navbar-nav>li>a {
    color: $dark-blue;
  }

  .navbar-default .navbar-nav>li>a:hover,
  .navbar-default .navbar-nav>li>a:focus {
    color: $dark-blue;
    background-color: transparent;
  }

  .delimiter-off {
    display: flex;
    align-items: center;
  }

  .dropdown-menu {
    position: absolute;
    top: unset;
    left: unset;
    border: 0;
    float: unset;
    min-width: unset;
    padding: 5px 0;
    margin: unset;
    text-align: unset;
    background-clip: unset;
    box-shadow: unset;

    .divider {
      margin: 0;
    }
  }

  li#signin-signout.dropdown {
    &:hover {
      div.sign-in {
        display: block;
      }
    }
  }


  /*
    BOOTSTRAP NAVBAR
  */


  .navbar-collapse.collapse {
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 5%;
    width: 100%;
    height: inherit !important;

    li:not(.delimiter) {
      text-transform: uppercase;
    }

    &>li:not(.delimiter) {
      padding: 15px;
    }

    ul {
      &.header-language-account {
        margin-left: auto;

        &.open {
          div.dropdown-menu {
            display: grid;

            div {
              padding: 10px 0;
              margin: 0;
              place-self: flex-start;
              justify-self: center;
              width: 100%;

              ul {
                display: block;
              }
            }
          }
        }

        div[aria-labelledby="user-menu"] {
          box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px;

          ul {
            li {
              &.active {
                background-color: $dark-blue;
              }
            }
          }
        }
      }

      &.nav li ul[aria-labelledby="static-pages-menu"] {

        li {
          &:nth-last-child(2) {
            border-radius: inherit;

            a {
              border-radius: 0 0 5px 5px;
            }
          }

          &:last-child {
            display: none;
          }
        }
      }

      &.nav {
        li.dropdown {
          ul.dropdown-menu {

            &>li {

              &>a,
              &>a:hover,
              &>a:focus {
                color: $dark-blue;
                background-color: $white;
              }

              &:hover {
                &>a {
                  font-weight: bold;
                }
              }

              &.active {
                &>a {
                  color: $white !important;
                  background-color: $dark-blue !important;
                  font-weight: bold !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

/*
    MOBILE NAVBAR
*/

@media (max-width: 767px) {
  nav {
    ul li:hover>ul {
      display: none;
    }

    ul.nav li ul {

      &.dropdown-menu {

        li:first-child,
        li:first-child a:hover,
        li:last-child {
          border-radius: unset;
        }
      }

      &[aria-labelledby="static-pages-menu"] li:last-child {
        display: none;
      }
    }

    li.delimiter {
      display: none;
    }
  }

  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: $dark-blue !important;
    text-align: center;
    padding: 5px 25px;

    &:hover {
      font-weight: bold;
    }
  }

  .navbar-default .navbar-nav>.open>a,
  .navbar-default .navbar-nav>.open>a:hover,
  .navbar-default .navbar-nav>.open>a:focus {
    color: $dark-blue !important;
    background-color: $white !important;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
    color: $white !important;
    background-color: $dark-blue !important;
  }

  .navbar-default .navbar-nav>li>a:hover,
  .navbar-default .navbar-nav>li>a:focus {
    color: $dark-blue !important;
  }

  .navbar-default .navbar-nav>li>a {
    color: $dark-blue !important;
    text-decoration: none;
  }

  .navbar-default .navbar-nav>.active>a,
  .navbar-default .navbar-nav>.active>a:hover,
  .navbar-default .navbar-nav>.active>a:focus {
    color: $white !important;
    background-color: $dark-blue !important;
  }

  .navbar-collapse li {
    text-align: center;
  }

  .navbar-collapse {
    list-style: none;
    padding: 10px 0 0 0;

    li.delimiter {
      display: none;
    }

    #signin-signout {
      width: 100%;

      &:hover {
        div.dropdown-menu {
          display: none;
        }

        &.open {
          div.dropdown-menu {
            display: grid;

            div {
              padding: 10px 0;
              margin: 0;
              place-self: flex-start;
              justify-self: center;
              width: 100%;

              ul {
                display: block;
              }
            }
          }
        }
      }

      &.open {
        div.dropdown-menu {
          position: relative;
          top: 0;
          left: unset;
          right: unset;
          margin: auto;
          display: grid;
          justify-content: center;
          align-items: center;
          width: max-content;
          grid-template-rows: repeat(2, 0fr);
          grid-auto-flow: column;
          padding: 0;
          border: none;

          div {
            padding: 10px 0;
            margin: 0;
            place-self: flex-start;
            justify-self: center;
            width: 100%;

            ul {
              display: block;
            }
          }
        }
      }

    }

    ul {
      width: 100%;
      margin: auto;
    }

    &>li {
      padding: 10px 0;
    }

    li {
      text-transform: uppercase;

      &.active {
        background-color: $dark-blue;

        a {
          color: $white;
          font-weight: bold;
        }
      }
    }
  }
}