@use './colours' as *;

#news-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 20px;
  padding: 50px 20px;

  border-radius: 20px;
  box-shadow: 5px 5px 5px $light-grey;

  .news-item {
    flex: 1 1 33.333%;
    display: flex;
    flex-direction: column;
    padding: 20px;

    .news-img {
      border-radius: 10px;
      object-fit: cover;
      width: 300px;
      height: auto;
      align-self: center;
    }

    h3 {
      color: $dark-blue;
    }
  }
}

#homepage-news {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // 3 columns
  grid-template-rows: repeat(2, 1fr); // 2 rows
  padding: 20px;

  .news-item {
    display: flex;
    flex-direction: column;
    padding: 20px;

    .news-img {
      border-radius: 10px;
      object-fit: cover;
      width: 100%;
      height: auto;
      align-self: center;
    }

    h3 {
      color: $dark-blue;
      font-size: 20px;
    }

    &:first-child {
      grid-column: 1/span 2; // start at index 1, spans on 2 cols 
      grid-row: 1/ span 2; // start at index 1, spans on 2 rows
    }
  }

}

article.news-item {
  &:hover {
    img {
      filter: grayscale(50%);
    }

    transform: scale(1.02);
  }

  img {
    transition: all .5s ease-in-out;
  }

  transition: all .5s ease-in-out;
}

.dmp-visit {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  align-self: flex-end;
  background: $rust;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  top: -190px;
  left: -100px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 5fr 0.1fr;
  transition: all ease-in-out .7s;

  i {
      animation: beat 2s ease-in-out infinite;
      font-size: 2.5em;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
      align-self: center;
      color: $white;
  }

  p {
      color: $white;
      grid-column: 1/2;
  }

  h2 {
      grid-column: 1/2;
      margin-right: 20px;
      color: $white;
      font-weight: bold;
  }

  @keyframes beat {
      0% {
          transform: scale(1);
      }

      50% {
          transform: scale(1.25);
      }

      100% {
          transform: scale(1);
      }
  }

  &:hover {
      transform: translateY(-15px);
  }
}

@media (max-width: 1260px) {
  #homepage-news {
    display: flex;
    flex-direction: column;
  }
}