@use './colours' as *;

#news-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 20px;
  padding: 50px 20px;

  border-radius: 20px;
  box-shadow: 5px 5px 5px $light-grey;

  .news-item {
    flex: 1 1 33.333%;
    display: flex;
    flex-direction: column;
    padding: 20px;

    .news-img {
      border-radius: 10px;
      object-fit: cover;
      width: 300px;
      height: auto;
      align-self: center;
    }

    h3 {
      color: $dark-blue;
    }
  }
}

#homepage-news {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // 3 columns
  grid-template-rows: repeat(2, 1fr); // 2 rows
  padding: 20px;

  .news-item {
    display: flex;
    flex-direction: column;
    padding: 20px;

    .news-img {
      border-radius: 10px;
      object-fit: cover;
      width: 100%;
      height: auto;
      align-self: center;
    }

    h3 {
      color: $dark-blue;
      font-size: 20px;
    }

    &:first-child {
      grid-column: 1/span 2; // start at index 1, spans on 2 cols 
      grid-row: 1/ span 2;// start at index 1, spans on 2 rows
    }
  }

}
