.org-branding {
  padding-top: 100px;

  .container-fluid {
      max-width: 1440px;
      padding-top: 5px;
      padding-bottom: 5px;
  }
  .org-banner-text {
      max-width: 1264px;
      color: #1a1a1a;
      text-align: center;
      border-top: 1px solid #e7e7e7;
      margin: auto;
      padding-top: 5px;
  }

}

#org-navbar {
  margin-top: auto;
  .navbar-nav 
  {
      li {
          a {
              color: #727272;
          }
      }
  }
}
