/* 
    SIGN IN FORM
*/

#sign-in-form,
#create-account-form {
    width: 45%;
    transition: visibility 0s 2s, opacity 2s linear;
}

#create-account-form {
    display: none;
}

div.tab-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

div.sign-in {
    div.tab-content {
        justify-content: space-around;
    }
}

@media (max-width: 1260px) {

    main#maincontent {
        div.sign-in {
            div.tab-content {
                display: flex;
                flex-direction: column;

                div#sign-in-form,
                div#create-account-form {
                    width: 85%;
                }
            }
        }
    }
}