@use './colours' as *;

main#maincontent div {
    h1 {
        &+p {
            margin: 20px 0 20px 0;
        }
    }
}

li#signin-signout {
    border-radius: 5px;

    div.dropdown-menu {
        right: 10px;
        left: unset !important;
        top: 50px;
        border-radius: 5px;
        z-index: 1;

        &:hover {
            &+a {
                &>i.fa.fa-chevron-down {
                    transform: rotate(180deg);
                }
            }
        }
    }

    &:hover {
        div.dropdown-menu {
            display: grid;
            justify-content: center;
            align-items: center;
            left: -132%;
            width: max-content;
            grid-template-rows: repeat(2, 1fr);
            grid-auto-flow: column;
            padding: 0;

            div {
                padding: 10px 0;
                margin: 0;
                place-self: flex-start;
                justify-self: center;
                width: 100%;

                ul {
                    display: block;
                }
            }
        }
    }

    ul.dropdown-menu {
        width: 100%;
    }
}

.research-output-field.form-group {

    flex-direction: column;
}

.dmp-visit {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    align-self: flex-end;
    background: $rust;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    top: -190px;
    left: -100px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 5fr 0.1fr;
    transition: all ease-in-out .7s;

    i {
        animation: beat 2s ease-in-out infinite;
        font-size: 2.5em;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        align-self: center;
        color: $white;
    }

    p {
        color: $white;
        grid-column: 1/2;
    }

    h2 {
        grid-column: 1/2;
        margin-right: 20px;
        color: $white;
        font-weight: bold;
    }

    @keyframes beat {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.25);
        }

        100% {
            transform: scale(1);
        }
    }

    &:hover {
        transform: translateY(-15px);
    }
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
    background-size: 1000px 70px
}

.wave.wave1 {
    animation: wave 30s linear infinite;
    z-index: 4;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

.wave.wave2 {
    animation: wave2 15s linear infinite;
    z-index: 3;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

.wave.wave3 {
    animation: wave 30s linear infinite;
    z-index: 2;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}

.wave.wave4 {
    animation: wave2 5s linear infinite;
    z-index: 1;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes wave {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}

@keyframes wave2 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: -1000px;
    }
}

#dmpopidor-footer .footer-cc {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #193155;
    padding: 10px 0 10px 0;
}

.back-to-top-wrapper {
    position: absolute;
    top: 100vh;
    right: 0.25rem;
    bottom: 0;
    width: 3em;
    pointer-events: none;
    margin-top: 10em;
    z-index: 5;
}

.back-to-top-link {
    position: fixed;
    position: sticky;
    pointer-events: all;
    top: calc(100vh - 15rem);

    // basic styling
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
    font-size: 4rem;
    line-height: 3rem;
    text-align: center;
    width: 3rem;
    height: 3rem;
    background-color: $white;
    border-radius: 50%;
    transition: transform 80ms ease-in;

    i {
        color: $dark-blue;
    }

    &:hover,
    &:focus {
        transform: scale(1.2);
    }
}

main {
    div.tab-content {
        display: flex;
        flex-direction: column;

        &>div {

            &:not(#sign-in-form):not(#create-account-form) {

                div {
                    h1 {
                        margin: 30px;
                    }

                    div.plan-details {
                        &>div {

                            &:first-of-type {
                                display: grid;
                                grid-template-rows: .1fr 2fr;
                                grid-gap: 20px;
                            }

                            .anr-import {
                                grid-column-start: 1;
                                grid-column-end: 3;
                            }

                            .project-meta {
                                height: max-content;
                            }
                        }
                    }
                }
            }
        }
    }

    div.sign-in {
        div.tab-content {
            display: flex;
            flex-direction: row;
        }
    }
}

div.navbar-ex1-collapse {
    list-style: none;
}

@media (min-width: 768px) {
    .delimiter-off {
        display: flex;
        align-items: center;
    }

    ul.nav li ul.dropdown-menu {
        top: 50px;
        padding: 0;
        z-index: 1;
    }

    .dropdown-menu {
        position: absolute;
        top: unset;
        left: unset;
        z-index: unset;
        float: unset;
        min-width: unset;
        padding: 5px 0;
        margin: unset;
        text-align: unset;
        background-clip: unset;
        box-shadow: unset;

        .divider {
            margin: 0;
        }
    }

    .navbar-collapse.collapse {
        display: flex !important;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0 5%;
        width: 100%;
        height: inherit !important;

        li:not(.delimiter) {
            text-transform: uppercase;
        }

        &>li:not(.delimiter) {
            padding: 15px;
        }

        ul {
            &.header-language-account {
                margin-left: auto;

                div[aria-labelledby="user-menu"] {
                    ul {
                        li {
                            &.active {
                                background-color: $dark-blue;
                            }
                        }
                    }
                }
            }

            &.nav li ul[aria-labelledby="static-pages-menu"] {

                li {
                    &:nth-last-child(2) {
                        border-radius: inherit;

                        a {
                            border-radius: 0 0 5px 5px;
                        }
                    }

                    &:last-child {
                        display: none;
                    }
                }
            }

            &.nav {
                li.dropdown {
                    ul.dropdown-menu {

                        &>li {

                            &>a,
                            &>a:hover,
                            &>a:focus {
                                color: $dark-blue;
                                background-color: $white;
                            }

                            &:hover {
                                &>a {
                                    font-weight: bold;
                                }
                            }

                            &.active {
                                &>a {
                                    color: $white !important;
                                    background-color: $dark-blue !important;
                                    font-weight: bold !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    li#signin-signout.dropdown {
        &:hover {
            div.sign-in {
                display: block;
            }
        }
    }

    .navbar-default .navbar-nav>li>a {
        color: $dark-blue;
    }

    .navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>li>a:focus {
        color: $dark-blue;
        background-color: transparent;
    }

}


@media (max-width: 767px) {

    .navbar-collapse {
        padding: 10px 0 0 0;

        #signin-signout {
            width: 100%;

            &:hover {
                div.dropdown-menu {
                    display: none;
                }

                &.open {
                    div.dropdown-menu {
                        display: grid;

                        div {
                            padding: 10px 0;
                            margin: 0;
                            place-self: flex-start;
                            justify-self: center;
                            width: 100%;

                            ul {
                                display: block;
                            }
                        }
                    }
                }
            }

            &.open {
                div.dropdown-menu {
                    position: relative;
                    top: 0;
                    left: unset;
                    right: unset;
                    margin: auto;
                    display: grid;
                    justify-content: center;
                    align-items: center;
                    width: max-content;
                    grid-template-rows: repeat(2, 1fr);
                    grid-auto-flow: column;
                    padding: 0;
                    border: none;

                    div {
                        padding: 10px 0;
                        margin: 0;
                        place-self: flex-start;
                        justify-self: center;
                        width: 100%;

                        ul {
                            display: block;
                        }
                    }
                }
            }

        }

        ul {
            width: 100%;
            margin: auto;
        }

        &>li {
            padding: 10px 0;
        }

        li {
            text-transform: uppercase;

            &.active {
                background-color: $dark-blue;

                a {
                    color: $white;
                    font-weight: bold;
                }
            }
        }
    }

    ul.nav li ul.dropdown-menu li:first-child {
        border-radius: unset;
    }

    ul.nav li ul.dropdown-menu li:first-child a:hover {
        border-radius: unset;
    }

    ul.nav li ul[aria-labelledby="static-pages-menu"] li:last-child {
        display: none;
    }

    ul.nav li ul.dropdown-menu li:last-child {
        border-radius: unset;
    }

    header.dmpopidor-branding {
        .main-nav #app-navbar {
            .header-language-account {
                flex-direction: column;
            }
        }

        ul.header-language-account {
            li.dropdown {
                &:first-of-type {
                    width: 100%;
                }
            }
        }
    }

    nav {
        &#app-navbar div.navbar-header {
            display: grid;
            grid-template-columns: 2fr 0.1fr;
            align-items: center;

            button.navbar-toggle {
                grid-row-start: 1;
            }

            div.header-logo {
                grid-column-start: 1;
                grid-row-start: 1;

                a img.app-logo.navbar-brand {
                    width: 130px;
                    height: auto;
                    margin-left: 44px;
                }
            }
        }
    }

    div.navbar-collapse {
        list-style: none;

        li.delimiter {
            display: none;
        }
    }

    .dmp-visit {
        margin: auto;
        left: 0;
    }

    .fontsize-h4 {
        font-size: 18pt !important;
    }

    div.row.main-title {
        margin: auto;
    }

    div.main-title h1 {
        text-align: center !important;
    }

    #dmpopidor-footer .footer-content,
    #dmpopidor-footer .footer-cc {
        font-size: 12pt;
    }

    #dmpopidor-footer .footer-content {
        padding: 20px;
    }

    footer#dmpopidor-footer div.footer-sn img:nth-of-type(1) {
        height: 30px;
    }

    main#maincontent div.tab-content {
        div {
            div {
                div.plan-details {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    &>div {

                        &:first-of-type {
                            grid-template-rows: none;
                            grid-gap: 0;
                        }

                        .project-meta {
                            &:last-of-type {
                                grid-row-start: 3;
                                grid-row-end: 4;
                            }
                        }
                    }

                    &>form {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}

@media (max-width: 575px) {

    main#maincontent {
        padding: 0;
    }

    div.research-output-actions {
        width: 100% !important;
    }

    a.add-research-output.btn.btn-primary {
        display: block;
        margin: auto;
        width: 80%;
    }

    .dmp-visit {
        display: none;
    }

    #dmpopidor-footer .footer-cc {
        flex-direction: column;
    }

    div.main-title h1 {
        font-size: 24pt !important;
    }

    .dmpopidor-front-page {
        margin-left: -10px;
    }
}