<%# locals: presenter, form_id_prefix, form_name_prefix %>

<%
by_type_tooltip = _("Selecting this filter will limit your search to insititional repositories.")
by_subject_tooltip = _("Select a subject area to refine your search.")
%>

<span class="col-md-5">
  <%= select_tag :"#{form_id_prefix % { field_name: "filter_by_subject" } }",
               options_for_select(ResearchOutputPresenter.selectable_subjects),
               include_blank: _("-Select a subject area-"), class: "form-control",
               data: { toggle: "tooltip" }, title: by_subject_tooltip %>
</span>

<span class="col-md-3">
  <%= check_box_tag form_name_prefix % { field_name: "filter_by_type" }, "1", false,
                    data: { toggle: "tooltip" },
                    title: by_type_tooltip %>
  <span><%= _('Institutional?') %></span>
</span>
