# This is an example credentials file.
# To real credentials file is encrypted.
# To create it run
# EDITOR=my_ave_editor rails credentials:edit
# and paste the rest of this file in, filling in the correct values
#
# If you need to generate a new secret you can run the `rails secret` utility

database:
  host: "my_host_name"
  username: "my_db_user"
  password: "my_db_password"

devise_pepper: "my_pepper"

dragonfly_secret: "my_secret"

recaptcha:
  site_key: "mykey"
  secret_key: "my_secret"

# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base: "my_secret"
