# This is an example credentials file.
# To real credentials file is encrypted.
# To create it run
# EDITOR=my_ave_editor rails credentials:edit
# and paste the rest of this file in, filling in the correct values
#
# If you need to generate a new secret you can run the `rails secret` utility

secret_key_base: 1234567890

dmproadmap:
  database_username: root
  database_password:

  devise_secret: 12345
  devise_pepper: abcdefg

  dragonfly_secret: 9999999

  orcid_client_id: APP-111111
  orcid_client_secret: 55555555
  orcid_sandbox: true

  recaptcha_site_key: 22222222
  recaptcha_secret_key: 33333333

  dmphub_client_id: 3333333
  dmphub_client_secret: 4444444

  datacite_repository_id: 5555555
  datacite_password: 6666666
