# DMPRoadmap Rails credentials file
# To generate secrets and peppers, run the following in another tab/window `bin/rails secret`

# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base: my_secret_key

# Database credentials
db_username: postgres
db_password:

# Devise credentials (used for user password encryption)
secret_key: my_secret_key
devise_pepper: my_pepper

# Used by the Dragonfly gem for creating random hashes for org logos
dragonfly_secret: my_secret_key

# AWS credentials used by the config/initializers/dragonfly.rb to access your S3 bucket (if applicable)
# aws:
#   access_key_id: 12345
#   secret_access_key: 34567

# Recaptcha credentials
recaptcha:
  site_key: 11111
  secret_key: 22222

tranlation_io:
  translation_api_key: my_key
