# This is an example credentials file.
# To real credentials file is encrypted.
# To create it run
# EDITOR=my_ave_editor rails credentials:edit
# and paste the rest of this file in, filling in the correct values
#

# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base: "replace_with_your_secret_key"
# used in config/initializers/devise.rb
devise_pepper: "replace_with_your_pepper"
#used in config/initializers/dragonfly.rb
dragonfly_secret: "replace_with_your_dregaonfly_secret"
# used in recaptcha.rb
recaptcha:
  site_key: 'replace_this_with_your_public_key'
  secret_key: 'replace_this_with_your_private_key'
