# aws:
#   access_key_id: 123
#   secret_access_key: 345

# Recaptcha credentials
recaptcha:
  site_key: "11111"
  secret_key: "22222"

# Database details
database:
    user_name: roadmap
    password: password123

# Dragonfly gem
dragonfly_secret: "my_dragonfly_secret"

# Devise credentials
secret_key: "11111122222"
devise_pepper: "111122223333444455555"

# Translation.io API key
translation_api_key: "111112222333334444"

translation_api_client_key: "Client key if present"

# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base: "1111111111111222222223333333444444"
