# GA codes for organisations
# root gets planted on every page if this defined here
# and is for tracking all activity
# then each org gets it's own tracking code, keyed off the
# abbreviation for the org
#
default: &default
  root: UA-XXXXXXXXX-1
#  Manchester: UA-MANCHESTER-1

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
