<% title _('Editing Notification') %>

<h1 class="fontsize-h2">

   <%= _('Editing Notification') %>
   <%= link_to(_('View all notifications'), super_admin_notifications_path,
       class: 'btn btn-secondary float-end', role: 'button') %>
 </h1>

<%= render 'form' %>
