<% title _('Notifications') %>
<div class="row">
  <div class="col-sm-9">
    <h1 class="fontsize-h2"><%= _('Notifications') %></h1>
  </div>
      <div class="col-sm-3">
      <%= link_to _('+ Add New Notification'), new_super_admin_notification_path, class: 'btn btn-secondary float-end', role: 'button' %>
    </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="table-responsive">
      <%= paginable_renderise(
        partial: '/paginable/notifications/index',
        controller: 'paginable/notifications',
        action: 'index',
        remote: true,
        scope: notifications,
        query_params: { sort_field: 'notifications.starts_at', sort_direction: 'desc' })
      %>
    </div>
  </div>
</div>
