<div class="row">
  <div class="col-md-12">
    <h3><%= _('Section details') %></h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render partial: 'org_admin/sections/form',
               locals: local_assigns.merge({ method: :put, url: org_admin_template_phase_section_path(template_id: template.id, phase_id: section.phase.id, id: section) }) %>
  </div>
  <div class="col-md-12">
    <%= render partial: 'org_admin/questions/index', 
               locals: local_assigns.merge({ editing: true }) %>
  </div>
</div>
