<!-- TODO: Move this away from using ID attr -->
<div class="panel-group section-group"
     data-modifiable="<%= modifiable %>"
     id="sections_accordion"
     role="tablist">
  <% sections.each do |section| %>
    <%= render partial: "org_admin/sections/section",
               object: section,
               locals: { phase: phase,
                         template: template,
                         current_section: current_section,
                         draggable: section == sections.first } %>
  <% end%>
</div>
