<div class="row">
  <div class="col-md-12">
    <p class="text-justify">
      <%= raw section.description %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render partial: 'org_admin/questions/index', 
               locals: local_assigns.merge({ editing: false }) %>
  </div>
</div>