<%# locals: context, topic, url, filter_partial, result_partial

:context        - refers to the parent object (e.g. "research_output"). This
                  should always be an instance of a Model

:topic          - refers to the associated object the External API will be
                  searching for. This should always be a String representing the
                  :context object's name for the association (e.g. "repositories")

:url            - the path to controller endpoint that will perform the search

:filter_partial - the custom View that will be used to render any filter/facet
                  options. For example:
                  "research_outputs/repositories/_filters.html.erb"

:result_partial - the custom View that will be used to render a result. For example:
                  "research_outputs/repositories/_search_result.html.erb"
%>

<%
# Construct the search form control names and ids
context_name = context.class.name.underscore
%>

<%= form_with model: context, url: url, method: :get do |f| %>
  <% if filter_partial.present? %>
    <div class="form-group row">
      <div class="col-md-10">
        <%= render partial: filter_partial, locals: { form: f } %>
      </div>
    </div>
  <% end %>
  <div class="form-group row">
    <div class="col-md-10">
      <span class="col-md-10">
        <%= f.text_field :search_term,
                         class: "form-control autocomplete col-md-6",
                         placeholder: _("- Enter a search term (e.g. DNA, titanium, FAIR, etc.) -") %>
      </span>
      <div class="col-md-3">
        <%= f.button(_("Apply filters"), class: "btn btn-default", type: "submit") %>
      </div>
    </div>
  </div>
<% end %>
