<%# locals: context, label, topic, url, filter_partial, card_partial

  :label          - the user friendly name for the :topic
  :context        - refers to the parent object and topic refers to the associated object
                    the user will be selecting, for example:
                    :context = a ResearchOutput, :topic = "repository"
  :topic          - the name of the field in relation to the :context (e.g. "repository")
  :url            - the path to controller endpoint that will perform the search
  :filter_partial - the 'filters' that the user can choose from if the related
                    api supports it.
  :card_partial   - the 'card' that displays the search results, for example:
                    :card = "research_outputs/repository/card"
%>

<%
context_name = context.class.name.underscore
form_id_prefix = "#{context_name}_#{topic.downcase}_%{field_name}"
form_name_prefix = "#{context_name}[#{topic.downcase}_%{field_name}]"
%>

<% if filter_partial.present? %>
  <div class="form-group row">
    <div class="col-md-10">
      <%= render partial: filter_partial,
                 locals: { form_id_prefix: form_id_prefix, form_name_prefix: form_name_prefix } %>
    </div>
  </div>
<% end %>
<div class="form-group row">
  <div class="col-md-10">
    <span class="col-md-10">
      <%= text_field_tag form_name_prefix % { field_name: "search_term" }, "",
                         id: form_id_prefix % { field_name: "search_term" },
                         class: "form-control autocomplete col-md-6",
                         placeholder: _("-Enter your search term-"),
                         data: { remote: true, url: url, method: :post } %>
    </span>
    <div class="col-md-3">
      <%= link_to _("Apply filters"), "#", class: "btn btn-default external-api-faux-search-button" %>
    </div>
  </div>
</div>
