<%# locals: context, topic, partial %>

<div class="external-api-selections">
  <% unless context.present? && context.send(topic).present? %>
    <span class="no-selections"><%= _("No %{topic} has been selected for this research output.") % { topic: topic } %></span>
  <% end %>
  <% if context.present? && context.send(topic).present? %>
    <%= render partial: "shared/external_api/card",
               locals: { context: context, model: context.send(topic), partial: partial } %>
  <% end %>

</div>
