<%# locals: context, topic, button_tooltip, result_partial

  :context        - refers to the parent object (e.g. "research_output"). This
                    should always be an instance of a Model

  :topic          - refers to the associated object the External API will be
                    searching for. This should always be a String representing the
                    :context object's name for the association (e.g. "repositories")

  :button_tooltip - the tooltip for the button that opens the modal search window

  :result_partial - the custom View that will be used to render a result for example:
                    "research_outputs/repositories/_search_result.html.erb"
%>

<%
button_tooltip = "" unless button_tooltip.present?
no_recs_msg = _("No %{topic} have been selected.") % { topic: topic }
%>

<div class="col-md-8 external_api_selected_results-<%= topic %>">
  <div class="external-api-selections">
    <% if context.present? && context.send(topic).present? %>
      <%
      # It's possible for the :topic to be either a single entity or a collection
      scope = topic == topic.singularize ? [context.send(topic)] : context.send(topic)
      %>
      <% scope.each do |result| %>
        <%= render partial: "shared/external_apis/search_result",
                   locals: {
                     context: context,
                     object: context.send(topic),
                     result_partial: result_partial,
                     selected: true
                   } %>
      <% end %>
    <% end %>
  </div>

  <span data-toggle="tooltip" title="<%= button_tooltip %>">
    <%= button_tag _("Add %{topic}") % { topic: (topic) },
                   type: "button",
                   class: "btn btn-default external-api-expand-search",
                   data: {
                     toggle: "modal",
                     target: "#external_api_search_modal-#{topic}"
                   } %>
  </span>
</div>
