
<div>
  <h1>404</h1>
  <h2>
    <%= _("We can't find the page you're looking for.") %>
  </h2>
  <p>
    <%= _('You may have mistyped the address or the page may have moved.') %>
  </p>
</div>
