
<div>
  <h1>
    <%= _("The change you wanted was rejected.") %>
  </h1>
  <h2> <%= _('Error 422') %> </h2>
  <p>
    <%= _("Maybe you tried to change something you didn't have access to.") %>
  </p>
</div>
