/*
  Colors
  - to be used as utilities within this file to define text+bg colors
*/
$color-black: #000 !default;
$color-white: #FFF !default;
$color-red: #b94a48 !default;
$color-grey: #4F5253 !default;
$color-grey-darkest: #222 !default;
$color-grey-darker: #333 !default;
$color-grey-light: #777 !default;
$color-grey-lighter: #999 !default;
$color-blue: #337ab7 !default;
$color-blue-alice-darkest: #107896 !default;
$color-muted: #CCC !default;
$color-orange: #f49700 !default;
$color-dark-orange: #EA5D05 !default;



/*
  Variables to define look and feel
*/
// Backgrounds
$color-primary-background: $color-orange !default;
$color-seccondary-background: $color-white !default;
$color-muted-background: $color-muted !default;
$color-navbar-background: $color-orange !default;
$color-navbar-background-active: $color-white !default;
$color-footer-background: $color-grey-darker !default;
$color-tooltip-background: $color-orange !default;
$color-icon-bar-background: $color-white !default;

// Text
$color-primary-text: $color-white !default;
$color-seccondary-text: $color-orange !default;
$color-heading-text: $color-orange !default;
$color-navbar-text: $color-white !default;
$color-navbar-text-hover: $color-orange !default;
$color-navbar-text-disabled: $color-grey-darker !default;
$color-link-text: $color-blue-alice-darkest !default;
$color-link-hover-text: $color-dark-orange !default;
$color-navbar-link-text: $color-white !default;
$color-org-navbar-links: $color-orange !default;
$color-org-navbar-links-hover: $color-dark-orange !default;
$color-dropdown-inverse-text: $color-orange !default;
$color-dropdown-inverse-text-hover: $color-white !default;
// $color-footer-links:;
// $color-footer-links-hover:;
// $color-tooltip-text:;
$color-text-red: $color-red !default;
$color-text-grey: $color-grey !default;
$color-text-black: $color-black !default;

// Borders colors
$color-border-default: $color-orange !default;
$color-border-light: #ddd !default;
$color-dropdown-inverse-border: $color-orange !default;
$color-navbar-border: darken($color-navbar-background, 10%) !default;

// Shadow colors
$color-shadow-dark: $color-black !default;

// FontAwesome Colors
<<<<<<< HEAD
$color-fa: $color-orange !default;

// Focus colors
$color-focus-outline: $color-blue-alice-darkest !default;
=======
$color-fa: $color-grey;

// Focus colors
$color-focus-outline: $color-blue-alice-darkest;
>>>>>>> 8b4e4611510b5ad433c7866b5147253629f30e1c
