// Colors:
$color-black: #000;
$color-white: #FFF;
$color-red: #b94a48;
$color-grey: #4F5253;
$color-muted: #CCC;

// Text colors
$color-text-white: $color-white;
$color-text-red: $color-red;
$color-text-grey: $color-grey;
$color-text-black: $color-black;

// Background colors
$color-background-white: $color-white;
$color-background-grey: $color-grey;
$color-background-black: $color-black;
$color-background-muted: $color-muted;


// Borders colors
$color-border-default: $color-grey;
$color-border-light: #ddd;

// Shadow colors
$color-shadow-dark: $color-black;

// Tooltips
$tooltip-color: $color-white;
$tooltip-background: $color-text-grey;

$dropdown-inverse-bg: #222222;
$dropdown-inverse-border: #080808;

// Navbar branding colours

$navbar-branding-color: #777777 !default;
$navbar-branding-bg: #222 !default;
$navbar-branding-border: darken($navbar-branding-bg, 10%) !default;
$navbar-branding-link-color: lighten(#777777, 15%) !default;
$navbar-branding-link-hover-color: #fff !default;
$navbar-branding-link-hover-bg: transparent !default;
$navbar-branding-link-active-color: $navbar-branding-link-hover-color !default;
$navbar-branding-link-active-bg: darken($navbar-branding-bg, 10%) !default;
$navbar-branding-link-disabled-color: #444 !default;
$navbar-branding-link-disabled-bg: transparent !default;
$navbar-branding-brand-color: $navbar-branding-link-color !default;
$navbar-branding-brand-hover-color: #FFFFFF !default;
$navbar-branding-brand-hover-bg: transparent !default;
$navbar-branding-toggle-hover-bg: #333 !default;
$navbar-branding-toggle-icon-bar-bg: #fff !default;
$navbar-branding-toggle-border-color: #333 !default;
