@font-face {
  font-family: 'GillSansLight';
  src: font-url('GillSansLight.ttf') format('truetype');
  font-weight: normal;
}

// Chosen for Accessibility
$font-family: Verdana, Trebuchet, "Helvetica Neue", Helvetica, Arial, sans-serif;
