@font-face {
  font-family: 'Cabin';
  src: url('Cabin-Regular.ttf') format("truetype");
  font-weight: normal;
}

// Chosen for Accessibility
$font-family: Verdana, Trebuchet, "Helvetica Neue", Helvetica, Arial, sans-serif;
