<%# locals: { plan, research_outputs, research_output_types } %>
<div class="research-outputs-description">
  <h2 class="project-details"><%= d_('dmpopidor', 'Research output: dataset, software, workflow, sample, protocol...') %></h2>
  <div class="display-readonly-textarea-content">
    <p><%= d_('dmpopidor', 'Please fill in separately for research outputs requireing a management specific to their nature or discipline.') %></p>
  </div>

  <div id='research-outputs'>
  <%= render(partial: "shared/dynamic_form/fields/complex_multiple_field", locals: {
        field_values: @research_output_fragments, 
        parent_id: @plan.json_fragment().id,
        classname: "research_output",
        field_name: "Research Output"
    })
  %>
  </div>
</div>