<%# locals: { plan, research_outputs, research_output_types } %>
<div id="research-outputs">
  <h2 class="project-details"><%= d_('dmpopidor', 'Research output: dataset, software, workflow, sample, protocol...') %></h2>
  <div class="display-readonly-textarea-content">
    <p><%= d_('dmpopidor', 'Please fill in separately for research outputs requireing a management specific to their nature or discipline.') %></p>
  </div>
  <div id='research-outputs-list'>
    <%= render 'research_outputs/list', plan: plan,
      research_outputs: research_outputs,
      readonly: false
    %>
  </div>
  <div class='links'>
    <%= link_to d_('dmpopidor', 'Add a research output'), create_remote_research_outputs_url(plan_id: plan.id),
     class: "add-research-output", remote: true 
     %>
  </div>
</div>