<%# locals: { plan, research_outputs, research_output_types } %>
<div id="research-outputs" class="fragment-<%= plan.json_fragment.id%>">
  <h2><%= _('Research outputs') %></h2>
  <h3><%= _('Dataset, software, workflow, sample, protocol...') %></h3>
  <div class="display-readonly-textarea-content">
  </div>
  <div id='research-outputs-list'>
    <%= render 'research_outputs/list', plan: plan,
      research_outputs: research_outputs,
      readonly: true
    %>
  </div>
</div>
