<%# locals: { plan, research_outputs, research_output_types } %>
<div id="research-outputs">
  <h2 class="project-details"><%= d_('dmpopidor', 'Research output: dataset, software, workflow, sample, protocol...') %></h2>
  <div class="display-readonly-textarea-content">
  </div>
  <div id='research-outputs-list'>
    <%= render 'research_outputs/list', plan: plan,
      research_outputs: research_outputs,
      readonly: true
    %>
  </div>
</div>