<% if current_user.org.active? %>
  <% if params[:v1] == "true" %>
    <%= render "form_v1" %>
  <% else %>
    <%= render "form_v2" %>
  <% end %>
<% else%>
<div class="alert alert-danger">
  <span class="fa fa-exclamation-circle"></span>
  <span>
    <%= d_('dmpopidor', 'Your organisation has been deactivated. Please choose a new organisation from your <a href="/users/profile">user profile</a>.').html_safe %>
  </span>
</div>
<% end %>