<% if current_user.org.active? %>
  <%= render "form" %>
<% else%>
<div class="alert alert-danger">
  <span class="fa fa-exclamation-circle"></span>
  <span>
    <%= d_('dmpopidor', 'Your organisation has been deactivated. Please choose a new organisation from your <a href="/users/edit">user profile</a>.').html_safe %>
  </span>
</div>
<% end %>