<%# locals: { plan, research_outputs, research_output_types } %>
<% title "#{plan.title}" %>
<div class="row">
  <div class="col-md-12">
    <h1><%= plan.title %></h1> 
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% if @plan.editable_by?(current_user) %>
      <%= render partial: 'plans/edit_research_outputs', layout: 'plans/navigation', locals: local_assigns %>
      <% else %>
        <%= render partial: 'plans/show_research_outputs', layout: 'plans/navigation', locals: local_assigns %>
      <% end %>
  </div>
</div>