<%# locals: { plan, research_outputs, research_output_types } %>
<div class="corner-ribbon top-left sticky red shadow"><%= _('Beta') %></div>
<% title "#{plan.title}" %>
<div class="row">
  <div class="col-md-12">
    <h1><%= plan.title %></h1> 
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render partial: 'plans/research_outputs_form', layout: 'plans/navigation', locals: local_assigns %>
  </div>
</div>