
//similar font size as an h2 tag
.fontsize-h2{
  font-size: 24 px;

}

//similar font size as an h3 tag
.fontsize-h3{
  font-size: 18.72 px;

}

//similar font size as an h4 tag
.fontsize-h4{
  font-size: 	16 px;

}
