<div class="row">
  <div class="col-md-12 mt-2">
    <%= link_to _('Add condition'), new_org_admin_question_condition_path(question_id: question.id, condition_no: condition_no), remote: true, class: "add-condition" %> 
  </div>
</div>
