<div id="condition-container">
  <div class="condition-list" data-loaded="false">
    <% conditions.to_a.sort_by{|c| c.id}.each_with_index do |cond, i| %>
      <div class="condition-form" id="0"> <!-- will be replaced with set id -->
        <%= render partial: 'org_admin/conditions/form', locals: { question: question, condition: cond, condition_no: i } %>
      </div>
    <% end %>
  </div>

  <div class="add-condition-div">
    <% condition_no = conditions.size %>
    <%= render partial: 'org_admin/conditions/add', locals: { question: question, condition_no: condition_no } %>
  </div>
</div>
