<%# This partial is called from the following files:
    - app/controllers/org_admin/conditions_controller.rb
    - app/views/org_admin/conditions/_container.html.erb
    %>

<div class="row condition-partial mb-3">
  <%
    condition ||= nil
    name_start = "conditions[#{condition_no.to_s}]"
  %>
  
  <%# If this is a new condition then display the interactive controls. otherwise just display the logic %>
  <% if condition.nil? %>
    <%= render partial: 'org_admin/conditions/new_condition_form',
                locals: { condition_no: condition_no,
                          name_start: name_start,
                          question: question
                        }
      %>

  <% else %>
    <%= render partial: 'org_admin/conditions/existing_condition_display',
                locals: { condition: condition,
                          condition_no: condition_no,
                          name_start: name_start,
                          question: question
                        }
      %>

  <% end %>
</div>
