fr:
      
  about_page:
    title: "À propos de l'Assistant PGD"
    tab_1: "Assistant PGD"
    tab_2: "Modèle de plan de gestion des données Portage"
    body_text_tab_1_html: "<div class='white_background'>
    <p>
L'Assistant PGD est un outil d'aide à la préparation d'un plan de gestion des données (PGD). 
    </p>
    <p>Les meilleures pratiques en matière de gestion des données sont utilisées pour conseiller le chercheur. </p>
    <ul class='list'>

<li class='list'> L'outil guide celui-ci pas à pas à travers les questions clés pour le développement d'un plan. 
<li class='list'> De l'aide et des exemples sont fournis en contexte. 
<li class='list'> Toutes les questions ne s'appliquent pas à tous les types de projets de recherche; les chercheurs sont invités à répondre aux questions pertinentes à leur projet. 
<li class='list'> Les chercheurs peuvent revenir tout au long de leur projet pour réviser ou compléter des réponses.</ul>
    </div>

    <h3>Comment fonctionne l'outil </h3>
    <div class='white_background'>
    <p> L'Assistant PGD comprend un modèle générique de plan de gestion des données, Portage, que les chercheurs peuvent utiliser. Des directives sont fournies afin de les aider à interpréter les questions et à y répondre.</p>

    <p>Nous souhaitons obtenir vos commentaires! Si vous avez des suggestions sur la façon d'améliorer le modèle existant, ou si vous aimeriez ajouter d'autres modèles basés sur les exigences d'organismes de financement ou sur les besoins des disciplines, <a href='help#contact_info'>communiquez avec votre établissement universitaire</a> ou communiquez avec nous à <a href='mailto:portage@carl-abrc.ca?Subject=Commentaires%20Assistant%20PGD'>portage@carl-abrc.ca</a>.

    </p>
    </div>
    <h3>Par où commencer</h3>
    <div class='white_background'>
    
    <p>Si vous avez un compte, connectez-vous et commencez à créer ou modifier votre plan de gestion des données.</p>
    <p> Si vous ne possédez pas de compte dans l'Assistant PGD, cliquez sur <a href='/'>« S'inscrire »</a> dans la page d'accueil.</p>
    <p>Veuillez noter que nous travaillons actuellement à un système d'authentification unique. Vous pourrez éventuellement associer votre compte existant à votre identifiant campus dès que la fonction sera disponible.

    <p>Visitez la page <a href='help'>« Aide »</a> pour consulter l'aide disponible.</p>
    </div>
    <h3>Commentaires</h3>
    <div class='white_background'>
    <p>Si vous avez des questions ou des commentaires au sujet de l'Assistant PGD, <a href='help#contact_info'>communiquez avec votre établissement universitaire</a> ou communiquez avec nous par courriel à <a href='mailto:portage@carl-abrc.ca?Subject=Commentaires%20Assistant%20PGD'>portage@carl-abrc.ca</a>.</p>
    </div>"


    body_text_tab_2_html: "<p>Le modèle de plan de gestion des données Portage s'appuie sur des normes internationales et sur les meilleures pratiques. Il a été préparé et est gardé à jour par un groupe d'experts en gestion des données de recherche travaillant au sein de bibliothèques de recherche à travers le Canada. </p>

<p>Les organismes peuvent rendre disponible leur propre modèle de plan dans l'Assistant PGD. Le modèle Portage est le modèle par défaut. On peut sélectionner le modèle d'un autre organisme à l'aide du menu déroulant. </p>

<p> Les organismes subventionnaires, universités et autres organismes qui souhaiteraient faire intégrer leur modèle de plan peuvent communiquer leur demande à l'adresse suivante : <a href='mailto:portage@carl-abrc.ca?Subject=commentaires%20Assistant%20PGD'>portage@carl-abrc.ca</a>.</p>"

    

  help_page:
    title: "Aide"
    tab_1: "Concernant l'Assistant PGD"
    tab_2: "Concernant la planification de la gestion des données"
    tab_3: "Personne-ressource dans votre institution"
    #body_text_tab_2_html: "<p>Le service des bibliothèques de l'Université de l'Alberta a mis au point un <a href='http://guides.library.ualberta.ca/researchdata'>research data management guide (guide sur la gestion des données de recherche)</a> qui peut fournir d'autres directives sur la planification de la gestion des données. Si vous avez besoin de plus de directives, communiquez avec nous par courriel à <a href='mailto:portage@carl-abrc.ca?Subject=Aide%20Assistant%20PGD'>portage@carl-abrc.ca</a>.</p>"
    body_text_tab_2_html: "Si vous avez besoin de plus de directives, communiquez avec nous par courriel à <a href='mailto:portage@carl-abrc.ca?Subject=Aide%20Assistant%20PGD'>portage@carl-abrc.ca</a>.</p>"


    body_text_tab_1_html: "<p>Lorsque vous vous connectez à l'Assistant PGD, vous serez dirigé vers la page « Mes plans ». À partir de cette page, vous pouvez modifier, partager, exporter ou supprimer l'un ou l'autre de vos plans. Vous verrez également les plans qui ont été partagés avec vous par d'autres personnes.</p>
    <h3>Créer un plan</h3>
    <p>Pour créer un plan, cliquez sur le bouton « Créer un plan » à la page « Mes plans » ou dans le menu du haut. Faites des choix dans les listes déroulantes et les cases à cocher afin de déterminer les questions et les directives qui seront affichées. Confirmez votre choix en cliquant sur « Oui, créer un plan ».</p>
    <h3>Rédiger votre plan</h3>
    <p>L'interface à onglets vous permet de naviguer dans diverses fonctions lorsque vous mettez au point votre plan.</p>
    <ul>
      <li>- L'option « renseignements sur le plan » comprend des renseignements administratifs de base, indique la série de questions et de directives sur laquelle votre plan s'appuie et vous donne un aperçu des questions auxquelles vous devez répondre.</li>
      <li>- Les onglets suivants contiennent les questions auxquelles il faut répondre. Il peut y avoir plus d'un onglet si votre bailleur de fonds ou votre université pose différentes séries de questions à diverses étapes, par exemple lors d'une demande de subvention et après l'octroi d'une subvention.</li>
      <li>- L'onglet « Partager » vous permet d'inviter d'autres personnes à lire votre plan ou à y collaborer.</li>
      <li>- L'onglet « Exporter » vous permet de télécharger votre plan en divers formats, ce qui peut être utile si vous devez joindre votre plan à une demande de subvention.</li>
    </ul>
    <p>Lorsque vous consultez l'un ou l'autre des onglets de questions, vous verrez les différentes sections de votre plan affichées. Cliquez sur ces onglets à tour de rôle pour répondre aux questions. Vous pouvez choisir le format de vos réponses à l'aide des boutons de mise en forme.</p>
    <p>Les directives sont affichées dans la partie de droite. Cliquez sur le symbole « + » pour les consulter.</p>
    <p>N'oubliez pas d'enregistrer vos réponses avant de poursuivre.</p>
    <h3>Partager les plans</h3>
    <p>Inscrivez l'adresse électronique de tout collaborateur que vous aimeriez inviter à lire ou à modifier votre plan. Choisissez le niveau d'autorisation que vous souhaitez lui accorder dans les options de la liste déroulante et cliquez sur « Ajouter un collaborateur ».</p>
    <h3>Exporter les plans</h3>
    <p>En choisissant cette option, vous pouvez télécharger votre plan en divers formats, ce qui peut être utile si vous devez joindre votre plan à une demande de subvention. Choisissez le format dans lequel vous aimeriez voir ou télécharger votre plan et cliquez pour l'exporter. Lorsque vous vous connectez à l'Assistant PGD, vous êtes dirigé vers la page « Mes plans ». À partir de cette page, vous pouvez modifier, partager, exporter ou supprimer l'un ou l'autre de vos plans. Vous voyez également les plans qui ont été partagés avec vous par d'autres personnes.</p>"


    body_text_tab_3_html: "<p>Votre bibliothèque universitaire offre peut-être déjà du soutien dans le développement de plans de gestion de données. Communiquez avec le bibliothécaire responsable de votre discipline au sein de votre établissement pour en en savoir davantage. Vous trouverez ci-dessous les coordonnées dans le cas des bibliothèques universitaires qui ont une personne-ressource désignée ou un service spécialisé dans la gestion des données de recherche.</p>
  <p>Si votre établissement n'est pas listé, vous pourriez aussi communiquer avec le Réseau Portage à l'adresse suivante : <a href='mailto:portage@carl-abrc.ca?Subject=Requete%20Assistant%20PGD' target='_top'>portage@carl-abrc.ca</a>. On pourra vous rediriger vers la ressource la plus appropriée à votre demande.</p>
<h3>Personne-ressource</h3>
  <p><b>Acadia University</b>: <a href='mailto:maggiejean.neilson@acadiau.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>Maggie Neilson</a></p>
  <p><b>Brandon University</b>: <a href='mailto:kazakoff@brandonu.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>Carmen Kazakoff-Lane</a>, Betty Braaksma</p>
  <p><b>Brock University</b>: <a href='mailto:hwhipple@brocku.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>Heather Whipple</a></p>
  <p><b>Carleton University</b>: <a href='mailto:rdm@library.carleton.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>Jane Fry</a>, <a href='mailto:sylvie.lafortune@carleton.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>Sylvie Lafortune</a></p>
  <p><b>Concordia University</b>: <a href='mailto:alex.guindon@concordia.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>Alex Guindon</a>, <a href='mailto:danielle.dennie@concordia.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>Danielle Dennie</a></p> 
  <p><b>Kwantlen Polytechnic University</b>: <a href='mailto:chris.burns@kpu.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>Chris Burns</a>, <a href='mailto:todd.mundle@kpu.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>Todd Mundle</a></p>
  <p><b>Lakehead University</b>: <a href='mailto:dgold@lakeheadu.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>Debra Gold</a></p>
  <p><b>MacEwan University</b>: <a href='mailto:stieglitzt@macewan.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>Tara Stieglitz</a></p>
  <p><b>McGill University </b>: <a href='mailto:jane.burpee@mcgill.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>K. Jane Burpee</a>, <a href='mailto:jenn.riley@mcgill.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>Jenn Riley</a></p>
  <p><b>McMaster University</b>: <a href='mailto:rdmgmt@mcmaster.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>RDM@McMaster</a>, <a href='mailto:brodeujj@mcmaster.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>Jay Brodeur</a></p>
  <p><b>Mount Allison University</b>: <a href='mailto:rcollings@mta.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>Ruth Collings</a></p>
  <p><b>Queen's University</b>: <a href='mailto:moonj@queensu.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>Jeff Moon</a>, <a href='mailto:coopera@queensu.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>Alexandra Cooper</a></p>
  <p><b>Simon Fraser University</b>: <a href='mailto:data-services@sfu.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>Carla Graebner</a></p>
  <p><b>Université de Moncton</b>: <a href='mailto:victoria.volkanova@umoncton.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>Victoria Volkanova</a></p>
  <p><b>University of British Columbia</b>: <a href='mailto:eugene.barsky@ubc.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>Eugene Barsky</a>, <a href='mailto:research.data@ubc.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>Research Data Team</a></p>
  <p><b>University of Alberta</b>: <a href='mailto:data@ualberta.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>Research Data Management Group</a>, <a href='mailto:larry.laliberte@ualberta.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>Larry Laliberte</a></p>
  <p><b>University of Calgary</b>: <a href='mailto:jdlbrosz@ucalgary.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>John Brosz</a>, <a href='mailto:spowelso@ucalgary.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>Susan Powelson</a></p>
  <p><b>University of Guelph</b>: <a href='mailto:lib.research@uoguelph.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>Research Enterprise & Scholarly Communication Team</a></p>
  <p><b>University of Lethbridge</b>: <a href='mailto:library-research-l@uleth.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>Research Services Group [U. of Lethbridge Library]</a></p>
  <p><b>University of Manitoba</b>: <a href='mailto:mayu.ishida@umanitoba.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>Mayu Ishida</a>, <a href='mailto:gary.strike@umanitoba.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>Gary Strike</a></p>
  <p><b>University of Ontario Institute of Technology</b>: <a href='mailto:katie.harding@uoit.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>Katie Harding</a></p>
    <p><b>University of Ottawa / Université d\'Ottawa</b>: <a href='mailto:gdr-rdm@uottawa.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>uOttawa Library Research Data Management Group</a>, <a href='mailto:talia.chung@uottawa.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>Talia Chung</a></p> 
    <p><b>University of Regina</b>: <a href='mailto:Marilyn.Andrews@uregina.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>Marilyn Andrews</a></p>
    <p><b>University of Victoria</b>: <a href='mailto:kmatthew@uvic.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>Kathleen Matthews</a>, <a href='mailto:danielbm@uvic.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>Daniel Brendle-Moczuk</a></p>
  <p><b>University of Waterloo</b>: <a href='mailto:LibraryRDM@library.uwaterloo.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>Research Data Management Services</a></p>
  <p><b>Western University</b>: <a href='mailto:rdm@uwo.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>Western RDM Group</a>, <a href='mailto:wlrdmsc@uwo.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>Western Libraries RDM Subcommittee</a></p>
  <p><b>Wilfrid Laurier University</b>: <a href='mailto:msteeleworthy@wlu.ca?Subject=DMP%20Assistant%20Inquiry' target='_top'>Michael Steeleworthy</a></p>"



  contact_page:
    title: "Communiquez avec nous"
    intro_text_html: "<p>L'Assistant PGD est rendu disponible par les Bibliothèques de l'Université d'Alberta. Pour en savoir plus sur les services offerts par ces bibliothèques, consulter la page suivante : <a href='http://library.ualberta.ca/researchdata/' target='_blank'>Research Data Management page</a>.  Si vous désirez communiquer avec nous concernant l'Assistant PGD, merci de saisir votre message dans le formulaire Web ci-dessous ou nous écrire à <a href='mailto:portage@carl-abrc.ca?Subject=Requete%200Assistant%20PGD' target='_top'>portage@carl-abrc.ca</a>.</p>
<p><a href='http://library.ualberta.ca/askus/' target='_blank'>Nous joindre </a></p>"
    address_text_html: "<ul>
          <li>%{organisation_name}</li>
          <li>%{organisation_address_line1}</li>
          <li>%{organisation_address_line2}</li>
          <li>%{organisation_address_line3}</li>
          <li>%{organisation_address_line4}</li>
          <li>%{organisation_address_country}</li>
         </ul>
         <p>CDL Helpline: %{organisation_telephone}</p>
         <p>Email <a href='mailto:%{organisation_email}?Subject=DMPTool%20inquiry' target='_top'>%{organisation_email}</a></p>"

  terms_page:
    title: "Exploitation sous licence et conditions d'utilisation"
    body_text_html: "
    
    <div class='white_background'>
    <p>Le Réseau Portage est un regroupement de bibliothèques travaillant à la gestion des données de recherche au Canada.</p>
    <h3>Assistant PGD</h3>
    <p>L'Assistant PGD (\"l'outil\",\"le système\") est fourni grâce à une application à code source libre appelée <a href='https://dmponline.dcc.ac.uk'>DMPOnline</a> qui a été mise au point par le Digital Curation Centre (DCC) et partagée en vertu de la <a href='http://www.gnu.org/licenses/agpl-3.0.html'>AGPL license (licence publique générale Affero).</a></p>

    <h3>Modèle de plan de gestion des données et ressources associées</h3>
    <p>Le modèle de plan de gestion des données Portage ainsi que les directives reliées de l'<a href='http://assistant.portagenetwork.ca/fr'>Assistant PGD Portage</a> (mais pas sur les plans mêmes) sont distribués en vertu d'une <a href='http://creativecommons.org/publicdomain/zero/1.0/deed.fr'>Creative Commons Zero License (licence Creative Commons Zéro).</a></p>

    <p><a href='http://creativecommons.org/publicdomain/zero/1.0/deed.fr'><img src='http://i.creativecommons.org/p/zero/1.0/88x31.png' alt='CC0' /></a></p>

    <p>Les modèles institutionnels de plan de gestion des données ainsi que les directives qui y sont reliées sont distribués en vertu de leurs propres licences Creative Commons. <a href='help#contact_info?locale=fr'>Contacter chaque institution</a> pour obtenir plus d'information.</p> 
    </div>


    <h3>Vos renseignements personnels</h3>
    <div class='white_background'>
      <p>Le service des bibliothèques de l'Université de l'Alberta héberge l'Assistant PGD et conserve vos plans de gestion des données en votre nom, mais les plans vous appartiennent et sont sous votre responsabilité. Les renseignements conservés par Assistant PGD sont régis par la <a href='http://www.library.ualberta.ca/privacy/'>politique de confidentialité du Site Web</a> du service des bibliothèques de l'Université de l'Alberta.</p>
    </div>

    <h3>Mots de passe</h3>
    <div class='white_background'>
      <p>Votre mot de passe est mémorisé sous forme codée et ne peut pas être récupéré. Si vous avez oublié votre mot de passe, vous devez le réinitialiser.</p>
    </div>
    
    <br />
    <div class='white_background'>
    <p>En utilisant l'outil, vous comprenez et acceptez ces conditions.</p></div>"