<%# locals: { plan, question, answer, research_output } %>
<% notes = answer.non_archived_notes %>
<div class="panel panel-default">
  <div class="panel-body">
    <% if plan.commentable_by?(current_user.id) %>
      <div class="row">
        <div class="col-md-12">
          <%= react("Comment", props: { 
            locale: locale,
            planId: plan.id,
            userId: @current_user.id,
            answerId:  answer.id,
            questionId: question.id,
            researchOutputId: research_output.id
          }) %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="pull-right">
            <%= link_to(_('Add Comment'), "#note_new#{question.id}_research-output#{research_output.id}", class: "btn btn-default note_new_link", role: "button", style: "visibility: hidden") %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
