<%# Available locals: orgs %>
<% title _('Organisations') %>
<div class="row">
  <div class="col-md-12">
    <h1>
      <%= _('Organisations') %>
      <a href="<%= new_super_admin_org_path %>" 
         class="btn btn-primary pull-right"><%= _('Create Organisation') %></a>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <!-- List of guidance groups -->
    <%= paginable_renderise(
      partial: '/paginable/orgs/index',
      controller: 'paginable/orgs',
      action: 'index',
      scope: orgs,
      query_params: { sort_field: 'orgs.name', sort_direction: :asc }) %>
    <div>
  </div>
</div>