<div class="row">
  <div class="col-md-12">
    <h1>
      <%= _('New organisation')  %>
    </h1>
    <% if current_user.can_super_admin? %>
      <%= link_to _('View all organisations'), super_admin_orgs_path, class: 'btn btn-secondary float-end' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs" role="tablist">
      <li role="profile" class="active">
        <a href="#profile" role="tab" aria-controls="profile" data-toggle="tab"><%= _('Profile information') %></a>
      </li>
    </ul>

    <!-- render navigation tabs for the template-->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="profile">
        <div class="card card-default">
          <div class="card-body">
            <div class="px-2">
              <%= render partial: 'orgs/profile_form',
                         locals: {
                           org: @org, method: "POST",
                           url: super_admin_orgs_path
                         } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
