/* Controls the suggestion list of a JQuery autocomplete */
ul.ui-menu {
  width: 60%;
  list-style: none;
  background: $color-seccondary-background;
  padding-left: 0;

  .ui-menu-item {
    color: $color-seccondary-text;
    border-bottom: 1px solid $color-border-default;
    border-left: 1px solid $color-border-default;
    border-right: 1px solid $color-border-default;
    padding: 5px 10px 5px 10px;

    .ui-menu-item-wrapper {
      background-color: inherit;
      font-family: $font-family;
    }
  }

  .ui-menu-item:hover,
  .ui-menu-item:focus {
    color: $color-primary-text;
    background-color: $color-primary-background;
  }
}
