@use '../variables/colours' as *;
// Bootstrap overrides

/* primary button */
.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:active:hover,
.btn-primary.active:hover {
  background-color: $color-primary-background;
  border-color: $color-border-default;
  color: $color-primary-text;
  outline: none;
  border-radius: 0rem;
  margin-top: 4px;
  margin-bottom: 5px;
}

/* default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary:active:hover,
.btn-secondary.active:hover {
  background-color: $color-primary-background;
  border-color: $color-border-default;
  color: $color-primary-text;
  outline: none;
  text-align: center;
  text-decoration: none;
  border-radius: 0rem;
  margin-top: 4px;
  margin-bottom: 5px;
}

/* Popover button */
.btn-secondary[data-toggle=tooltip],
.btn-secondary:hover[data-toggle=tooltip],
.btn-secondary:focus[data-toggle=tooltip],
.btn-secondary:active[data-toggle=tooltip],
.btn-secondary:visited[data-toggle=tooltip],
.btn-secondary:active:hover[data-toggle=tooltip] {
  color: $color-secondary-text;
  background-color: $color-secondary-background;
  border: none;
  padding-left: -10px;
  font-size: .8rem;
}

/* link button */
.btn-link, .btn-close {
  color: $color-link-text;
  border: $color-border-default;
  border-radius: 0rem;
}

.btn:disabled {
  background-color: tint-color($color-primary-background, 40%);
  border: none;
}
