.ui-datepicker-header {
  background: $color-seccondary-background;
  color: $color-seccondary-text;
  border: none;
}
.ui-datepicker-prev,
.ui-datepicker-next {
  background-image: none;
  background: $color-seccondary-background;
  color: $color-seccondary-text;
}