// Override FontAwesome icons

/* FONTAWESOME STYLING */
.fa:not(.small) {
  font-size: 2rem;
}
.fa-reverse {
  color: $color-text-grey;
}
.fa-sort, .fa-sort-asc, .fa-sort-desc {
  color: $color-white;
}

/* adjust the position of the 'remove - X' button for links */
.link .fa-times-circle {
  margin-top: $grid-gutter-width;
}

/* Links with fontawesome icons:
   fa-file-pdf-o and fa-file-word-o */
a {
   i {
     &.fa {
       
       &.fa-file-pdf-o,
       &.fa-file-word-o {
         color: $color-black;
         margin: 5px;
         
         &:not(.small) {
           font-size: 2.3em;
         }
       }
     }
   }
}
