@use '../variables/colours' as *;
@use '../variables/typography' as *;
// @use "../../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss" as *;

// Override FontAwesome icons

/* FONTAWESOME STYLING */
.fas:not(.small) {
  // font-size: 1.7rem;
  font-size: $font-size-base;
}
.fa-reverse {
  color: $color-secondary-text;
}
.fa-sort, .fa-sort-up, .fa-sort-down {
  color: $color-primary-text;
}

/* change color of search icon */
.fa-search {
  color: $color-primary-text;
}

/* adjust the position of the 'remove - X' button for links */
.link .fa-times-circle {
  margin-top: $grid-gutter-width;
}

/* Links with fontawesome icons:
   fa-file-pdf-o and fa-file-word-o */
a {
   i {
     &.fas {

       &.fa-file-pdf,
       &.fa-file-word {
         color: inherit;
         margin: 5px;

         &:not(.small) {
           font-size: 1.9em;
         }
       }
     }
   }
}
