/* For dark (inverse) navbars */
.inverse-dropdown {
  background-color: $dropdown-inverse-bg !important;
  border-color: $dropdown-inverse-border !important;
  & > li > a {
    color: #999 !important;
    &:hover {
      color: #fff !important;
      background-color: $color-background-black !important;
    }
  }
  .active a {
    color: #fff !important;
    background-color: $color-background-black !important;
  }
}
