 @use '../variables/bootstrap' as *;
 
/* For dark (inverse) navbars */
.inverse-dropdown {
  background-color: $dropdown-inverse-bg !important;
  border-color: $dropdown-inverse-border !important;
  & > li > a {
    color: $dropdown-inverse-text !important;
    &:hover {
      color: $dropdown-inverse-text-hoover !important;
      background-color: $dropdown-inverse-bg-hoover !important;
    }
  }
  .active a {
    color: $dropdown-inverse-text-hoover !important;
    background-color: $dropdown-inverse-bg-hoover !important;
  }
}
