@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";

/* HEADER LOGOS */
.app-logo {
  height: 50px;
  padding-right: calc($grid-gutter-width / 2);
}

.org-logo {
  height: 100px;
  padding-right: calc($grid-gutter-width / 2);
}
