fieldset.project-details {
  border: 0.5px groove $color-border-light;
  padding: 0 5px;
  margin: 0px;
  width: 480px;
  box-shadow:  0px 0px 0px 0px $color-shadow-dark;
}

legend.project-details {
  font-weight: bold;
  font-size: 100%;
  text-align: left !important;
  width: auto;
  margin-bottom: 5px;
  border-bottom: none;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  fieldset.project-details {
    width: 340px;
  }
}
