@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";

// TODO: Refactor this. Instead of writing specific CSS rules for particular objects,
// we should provide utility classes which can provide the desired style to this object
.org-logo-controls {
  display: inline-block;
  margin-left: calc($grid-gutter-width / 2);
  input { display: inline-block; }
  strong { margin: 0 10px; }
}
