@use '../variables/colours' as *;
.question-body {
    display: flex;
    padding: 15px 0;
    .question-section {
        flex: 8;
        position: relative;
        .toggle-guidance-section {
            position: absolute;
            top: 0;
            right: 0;
            background-color: $color-black;
            color: $color-white;
            padding: 10px 5px;
            cursor: pointer;

            text-orientation: mixed;
            writing-mode: vertical-rl;
            &.disabled {
                background-color: $color-grey;
                cursor: not-allowed;
            }
        }
        .question-form {
            padding-right: 50px;
            padding-top: 10px;
        }
    }

    .guidance-section {
        flex: 4;
        border-left: 5px solid $color-black;
        padding-left: 5px;
    }

}
