/* For display of readonly textarea content without the TinyMCE editor */
.display-readonly-textarea-content {
  // Replicating some TinyMCE styling of textarea
  overflow-y: hidden;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 10px;
  
  // Ensure table borders are not lost
  table td {
    border: 1px solid black;
  }
}
