
.spinner-border {
  animation: spinner-border 1.5s linear infinite !important;
  position: fixed !important;
  top: 48% !important;
  left: 43%  !important;
  width: 2rem !important;
  height: 2rem !important;
}
