<%# locals: { f, field_label, field_name, multiple, classname, field_name, field_id, required, readonly, validation } %>
<% field_class = nil if local_assigns[:field_class].nil? %>
<% field_label = field_label || 'No label defined' %>

<% unless multiple %>
  <div class="col-md-12">
    <%= f.label field_id, field_label, class: 'control-label' %>
  </div>
<% end %>
<div class="col-md-12 dynamic-field">
  <%= f.text_field field_name, 
            value: field_value, 
            multiple: multiple, 
            disabled: readonly,
            aria: { label: field_label },
            class: "form-control #{field_class}", type: "date",
            id: field_id  %>
  <% if multiple %>
    <div class="actions">
      <span class="fas fa-square-plus add-record"></span>
      <% if index != 0 %>
        <span class="fas fa-square-minus remove-record"></span>
      <% else %>
        <span class="fas fa-square-minus remove-record" style="display:none"></span>
      <% end %>
    </div>
  <% end %>
</div>
