<%# locals: { f, field_label, field_name, multiple, classname, field_id, required, readonly, validation, ttip, example } %>
<% field_label = field_label || 'No label defined' %>
<% field_value ||= default_value %>

<% unless multiple %>
  <div class="col-md-12">
    <%= f.label field_id, field_label, class: 'control-label' %>
  </div>
<% end %>
<div class="col-md-12 dynamic-field">
  <%= f.text_field field_name, 
            value: field_value, 
            multiple: multiple, 
            disabled: readonly,
            class: "form-control #{field_class}", 
            type: input_type,
            aria: { label: field_label },
            "data-toggle": "tooltip",
            title: ttip,
            placeholder: readonly ? nil : example ,
            id: field_id %>
  <% if multiple && readonly == false%>
    <div class="actions">
      <span class="fas fa-square-plus add-record"></span>
      <% if index != 0 %>
        <span class="fas fa-square-minus remove-record"></span>
      <% else %>
        <span class="fas fa-square-minus remove-record" style="display:none"></span>
      <% end %>
    </div>
  <% end %>
</div>
