<% title _('Themes') %>
<div class="row">
  <div class="col-xs-12">
    <h1 class="fontsize-h2"><%= _('Themes') %></h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="float-end">
      <%= link_to(_('+ Add New Theme'), new_super_admin_theme_path, class: 'btn btn-secondary', role: 'button') %>
    </div>
    <div class="table-responsive">
      <%= paginable_renderise(
        partial: '/paginable/themes/index',
        controller: 'paginable/themes',
        action: 'index',
        remote: true,
        scope: themes,
        query_params: { sort_field: 'themes.title', sort_direction: :asc })
      %>
    </div>
  </div>
</div>
