<% title _('Themes') %>
<div class="row">
  <div class="col-xs-12">
    <h2><%= _('Themes') %></h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="pull-right">
      <%= link_to(_('+ Add New Theme'), new_super_admin_theme_path, class: 'btn btn-default', role: 'button') %>
    </div>
    <div class="table-responsive">
      <%= paginable_renderise(
        partial: '/paginable/themes/index',
        controller: 'paginable/themes',
        action: 'index', 
        scope: themes,
        query_params: { sort_field: 'themes.title', sort_direction: :asc }) 
      %>
    </div>
  </div>
</div>
