// Import locally defined variables. Load this before 'bootstrap'

@import "variables/*";

// Pull in the webpacker managed copy of Bootstrap Stylesheets
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../../node_modules/bootstrap-select/sass/bootstrap-select.scss";

@import "blocks/*";
@import "utils/*";

// Pull in the webapcker managed copy of JQuery-UI Stylesheets
// we are using the Datepicker and Sortable at the very least
@import "../../../node_modules/jquery-ui-sass/assets/sass/jquery-ui.scss";

@import "font-awesome-sprockets";
@import "font-awesome";