/* 
 DMPOPIDoR Stylesheet
*/

@use './variables/colours' as *;
@use './dmpopidor/colours' as *;
@use './dmpopidor/icons' as *;

@use './dmpopidor/accessibility' as *;
@use './dmpopidor/accordions' as *;
@use './dmpopidor/buttons' as *;
@use './dmpopidor/checkbox' as *;
@use './dmpopidor/dropdowns' as *;
@use './dmpopidor/html' as *;
@use './dmpopidor/navs' as *;
@use './dmpopidor/new_window_popup' as *;
@use './dmpopidor/overlay' as *;
@use './dmpopidor/select2' as *;
@use './dmpopidor/tables' as *;

@use './dmpopidor/footer' as *;
@use './dmpopidor/header' as *;
@use './dmpopidor/homepage' as *;
@use './dmpopidor/madmp_fragment' as *;
@use './dmpopidor/news' as *;
@use './dmpopidor/notes' as *;
@use './dmpopidor/plan' as *;
@use './dmpopidor/user_profile' as *;
@use './dmpopidor/_test_asserting' as *;

body {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}

body div a.btn {
  text-decoration: none;
}

.modal-backdrop {
  z-index: 4;
}

#header-signin {
  z-index: 7;
}


/*
    MAIN CONTENT
*/

#maincontent {
  padding: 0 50px 50px 50px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 20px;
  box-shadow: 0 0 15px $light-grey;
  width: 84%;
  max-width: 1440px;

  &> :first-child:not(#plan-navigation) {
    padding-top: 50px;
  }
}

/*
    DROPDOWNS
*/
#admin-dropdown,
.plan-actions {

  .dmpopidor-dropdown {
    background-color: $white;

    li {

      a,
      a:active,
      a:focus,
      a:visited {
        color: $blue;

      }

      a:hover {
        color: $white;
        background-color: $blue;
      }
    }

    li.active {

      a,
      a:active,
      a:focus,
      a:visited {
        background-color: $blue;
        color: $white;
      }
    }
  }

  .open {
    a {
      background-color: $white;
    }
  }
}

#admin-dropdown {
  .dmpopidor-dropdown {
    li.active {

      a,
      a:active,
      a:focus,
      a:visited {
        background-color: $rust;
        color: $white;
      }
    }
  }
}

ul.nav li ul.dropdown-menu {
  border-radius: 5px !important;

  li {
    a {
      text-align: left;
    }

    a.dropdown-toggle {

      &:focus,
      &:active,
      &:visited {
        background-color: none;
      }
    }

    &:first-child {
      border-radius: 5px 5px 0 0;

      a {
        border-radius: inherit;

        &:hover {
          border-radius: inherit;
        }
      }
    }

    &:last-child {
      border-radius: 0 0 5px 5px;

      a {
        border-radius: inherit;

        &:hover {
          border-radius: inherit;
        }
      }
    }
  }
}

.delimiter {
  padding: 0 10px;
}

/*
    MAIN CONTENT
*/
.dmpopidor-branding {

  .contact-icons {
    position: fixed;
    top: 45%;
    right: 0;
    z-index: 5;

    .contact-icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      background-color: $rust;
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      font-size: small;
      min-height: 75px;
      width: 90px;
      border-radius: 10px 0 0 10px;
      margin-bottom: 10px;

      i {
        font-size: xx-large;
      }

      &:hover {
        background-color: $dark-blue;
      }
    }
  }

  /** tooltips */
  .tooltip {
    .tooltip-arrow {
      color: $blue;
      border-bottom-color: $blue;
    }

    .tooltip-inner {
      background-color: $blue;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      min-width: initial;
    }
  }

  .label-info {
    background-color: $blue;
  }

  /** Focus outline required for accessibility */
  input,
  select,
  .form-control {

    &:focus,
    &:hover,
    &:active {
      outline-style: solid !important;
      outline-color: $blue !important;
      outline-width: 2px !important;
    }
  }

  a {
    color: $dark-blue;
    text-decoration: none;
  }

  /*
        STATIC PAGES
    */
  .static_page_content {
    padding-top: 25px;
  }

  .news_page h2 {
    font-size: xx-large;
    color: $dark-blue;
  }

  /* 
    LEGEND
  */
  legend.legend-label {
    font-size: 14px;
    border-bottom: none;
  }

  /* 
        PLAN EDIT
    */
  // Progress bar 
  .progress-bar {
    background-color: $blue;
  }

  // example answer
  .example-answer {
    overflow: auto;

    .example-answer-link {
      cursor: pointer;
      background-color: $blue;
      display: block;
    }
  }

  // main border
  .panel-default {
    border: none;
  }


  // .schema-picker{
  //     display: flex;

  //     .tab-content {
  //         flex: 10;
  //     }

  //     .nav-pills {
  //         width: inherit;
  //         display: flex;
  //         flex: 2;
  //         flex-direction: column;
  //         li {
  //             writing-mode: vertical-lr;
  //             text-orientation: mixed;
  //         }
  //     }
  // }

  // Plan Download

  #download_form {
    #json-formatting {
      display: none;
    }
  }

  // News
  .question-divider {
    border-bottom: 2px solid $very-very-light-blue;
  }

  /*
        ADMIN AREA
    */
  &.org-admin {

    h1,
    h2 {
      color: $rust;
    }

    a {
      color: $rust;
    }


    // main border
    .panel-default {
      border-color: $rust;
    }

    // Sections & Phases
    .heading-button>.panel-heading,
    .panel-default>.panel-heading {
      background-color: $rust;
    }



  }

  /*
    SUPER ADMIN
  */
  &.super-admin {

    a {
      color: $black;
      text-decoration: underline;
    }

    .btn-default,
    .btn-default:hover,
    .btn-default:focus,
    .btn-default:active,
    .btn-default:visited,
    .btn-default:active:hover,
    .btn-default.active:hover {
      border-color: $yellow;
      background-color: $yellow;
      color: $black;
      text-decoration: none;
      margin-bottom: 10px;
    }

    .combobox-clear-button,
    .combobox-clear-button:hover,
    .combobox-clear-button:focus {
      color: $yellow;
    }


    .btn-link {
      color: $black;
      text-decoration: underline;
    }

    .registry-value-actions a {
      text-decoration: none;
    }
  }

}


/*
    CIL MESSAGE
*/

.cil_message>p {
  font-size: x-small;
  font-style: italic;
  line-height: 1.5em;
  padding-bottom: 4px;
}

.institution-login i {
  display: inline-block;
  padding-left: 5px;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
}

/* 
    CONTACT US
*/
.dmpopidor-contact-us {
  .column-right {
    border-left: 2px solid $rust;
  }

}


/* 
    COOKIE BANNER
*/

.cookiebanner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left !important;
}

.cookiebanner-close {
  width: 50%;
  text-align: center;
  background: green;
  padding: 5px;
  color: $white !important;
  font-weight: bold;
  margin-left: 10px;

  &:focus,
  &:hover,
  &:active {
    outline-style: solid !important;
    outline-color: $white !important;
    outline-width: 2px !important;
  }
}

/*
    PLAN CREATION
*/

.plan-form {
  .tab-content {
    padding: 25px 25px 50px 25px;
    border: 1px solid $blue;
  }

  .form-tabs {
    display: flex;
    flex: 1;

    li>span {
      display: block;
      padding: 10px 15px;
      cursor: pointer;

      i {
        display: none;
      }
    }

    li>span:hover,
    li>span:focus,
    li.active>span,
    li.active>span:focus,
    li.active>span:hover {
      color: $white;
      border-bottom-color: transparent;
      background-color: $white;
      color: $blue;
      border: 1px solid $blue;
      border-bottom-color: transparent;

      i {
        display: inline;
      }
    }
  }

  #no_org h3 {
    color: $rust;
  }
}

#available-templates {
  .message-block {
    color: $blue;
  }
}

/*
    Share Form
*/
.share-form {
  display: flex;
  flex-direction: column;

  .panel-heading {
    background-color: $white;
    color: $rust;
    border-bottom: 2px solid $rust;
    border-right: 2px solid $rust;

    .panel-title {
      color: $rust;
      font-weight: bold;
    }
  }

  #new_role {
    border-bottom: 0.5px groove $color-border-light;
  }
}

/* Beta ribbons */

.corner-ribbon {
  width: 200px;
  background: $rust;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);

  &.sticky {
    position: fixed;
  }

  &.shadow {
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  }

  &.top-left {
    top: 25px;
    left: -50px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
}

.rda-message {
  display: none;
}

/*
* SweetAlert2
*/
.swal2-popup {
  .swal2-html-container {
    font-size: 14px;
  }

  .swal2-actions {
    .swal2-confirm {
      background-color: $blue;
    }

    .swal2-deny {
      background-color: $rust;
    }
  }
}

/* 
    CONNEXION FORM
*/

#sign-in-form,
#create-account-form {
  width: 45%;
  transition: visibility 0s 2s, opacity 2s linear;
}

#create-account-form {
  display: none;
}

div.tab-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

div.sign-in {
  div.tab-content {
    justify-content: space-around;
  }
}

@media (max-width: 1260px) {

  main#maincontent {
    div.sign-in {
      div.tab-content {
        display: flex;
        flex-direction: column;

        div#sign-in-form,
        div#create-account-form {
          width: 85%;
        }
      }
    }
  }
}

/* 
    LANGUAGE DROPDOWN
*/

li a[rel="nofollow"][data-method="patch"] {

  &:first-of-type,
  &:last-of-type {
    margin-left: 10px;
    margin-right: 10px;
  }

  &:hover {
    background-color: $dark-blue;
    color: $white;
  }
}