/* 
 DMPOPIDoR Stylesheet
*/

@use './variables/colours' as *;
@use './dmpopidor/colours' as *;
@use './dmpopidor/icons' as *;

@use './dmpopidor/accessibility' as *;
@use './dmpopidor/accordions' as *;
@use './dmpopidor/buttons' as *;
@use './dmpopidor/checkbox' as *;
@use './dmpopidor/dropdowns' as *;
@use './dmpopidor/html' as *;
@use './dmpopidor/navs' as *;
@use './dmpopidor/new_window_popup' as *;
@use './dmpopidor/overlay' as *;
@use './dmpopidor/tables' as *;

@use './dmpopidor/footer' as *;
@use './dmpopidor/header' as *;
@use './dmpopidor/homepage' as *;
@use './dmpopidor/news' as *;
@use './dmpopidor/notes' as *;
@use './dmpopidor/plan' as *;
@use './dmpopidor/user_profile' as *;
@use './dmpopidor/admin' as *;

@use './dmpopidor/font_size' as *;
@use './dmpopidor/signin_form' as *;
@use './dmpopidor/back_to_top' as *;
@use './dmpopidor/contact_us' as *;
@use './dmpopidor/cookiebanner' as *;
@use './dmpopidor/share_form' as *;
@use './dmpopidor/beta_ribbons' as *;
@use './dmpopidor/import_plan' as *;
@use './dmpopidor/sweet_alert' as *;

@use './dmpopidor/_react_tooltip.scss' as *;

body {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}

body div a.btn {
  text-decoration: none;
}

.modal-backdrop {
  z-index: 99;
}

#header-signin {
  z-index: 7;
}

/*
    MAIN CONTENT
*/

.dmpopidor-branding {

  div {
    h1 {
      &+p {
        margin: 20px 0 20px 0;
      }
    }
  }

  .contact-icons {
    position: fixed;
    top: 45%;
    right: 0;
    z-index: 5;

    .contact-icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      background-color: $rust;
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      font-size: small;
      min-height: 75px;
      width: 90px;
      border-radius: 10px 0 0 10px;
      margin-bottom: 10px;

      i {
        font-size: xx-large;
      }

      &:hover {
        background-color: $dark-blue;
      }
    }
  }

  /** tooltips */
  .tooltip {
    .tooltip-arrow {
      color: $blue;
      border-bottom-color: $blue;
    }

    .tooltip-inner {
      background-color: $blue;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      min-width: initial;
    }
  }

  .label-info {
    background-color: $blue;
  }

  /** Focus outline required for accessibility */
  input,
  select,
  .form-control {

    &:focus,
    &:hover,
    &:active {
      outline-style: solid !important;
      outline-color: $blue !important;
      outline-width: 2px !important;
    }
  }


  input.btn[type="button"] {

    &:focus,
    &:hover,
    &:active {
      outline-width: 0 !important;
    }
  }

  a {
    color: $dark-blue;
    text-decoration: none;
  }

  /*
        STATIC PAGES
    */
  .static_page_content {
    padding-top: 25px;
  }

  .news_page h2 {
    font-size: xx-large;
    color: $dark-blue;
  }

  /* 
    LEGEND
  */
  legend.legend-label {
    font-size: 14px;
    border-bottom: none;
  }

  /* 
        PLAN EDIT
    */
  // Progress bar 
  .progress-bar {
    background-color: $blue;
  }

  // example answer
  .example-answer {
    overflow: auto;

    .example-answer-link {
      cursor: pointer;
      background-color: $blue;
      display: block;
    }
  }

  // main border
  .plan-content.panel-default {
    border: none;
    box-shadow: none;
  }


  // .schema-picker{
  //     display: flex;

  //     .tab-content {
  //         flex: 10;
  //     }

  //     .nav-pills {
  //         width: inherit;
  //         display: flex;
  //         flex: 2;
  //         flex-direction: column;
  //         li {
  //             writing-mode: vertical-lr;
  //             text-orientation: mixed;
  //         }
  //     }
  // }

  // Plan Download

  #download_form {
    #json-formatting {
      display: none;
    }
  }

  // News
  .question-divider {
    border-bottom: 2px solid $very-very-light-blue;
  }


  /*
    SUPER ADMIN
  */
  &.super-admin {

    a {
      color: $black;
      text-decoration: underline;
    }

    .btn-default,
    .btn-default:hover,
    .btn-default:focus,
    .btn-default:active,
    .btn-default:visited,
    .btn-default:active:hover,
    .btn-default.active:hover {
      border-color: $yellow;
      background-color: $yellow;
      color: $black;
      text-decoration: none;
      margin-bottom: 10px;
    }

    .combobox-clear-button,
    .combobox-clear-button:hover,
    .combobox-clear-button:focus {
      color: $yellow;
    }


    .btn-link {
      color: $black;
      text-decoration: underline;
    }

    .registry-value-actions a {
      text-decoration: none;
    }
  }
}
