/* 
 DMPOPIDoR Stylesheet
*/

$blue: #2c7dad;
$light-blue: #92c5de;
$very-light-blue: #dcecf6;
$very-very-light-blue: #edf5fa;
$white: #fff;
$black: #000;
$rust: #c6503d;
$light-rust: #faefed;
$yellow: #FFCC00;
$light-yellow: #fff9e5;

body {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}


/*
    MENU & FOOTER
*/

/*
    MENU
*/

header .main-nav {
    display: flex;
    justify-content: center;
}
#app-navbar {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    
    &.navbar-dmpopidor {
        background-color: $white;
        color: $blue;
    }
    border-bottom: 2px solid $rust;

    .navbar-content {
        max-width: 1264px;
    }

    .navbar-nav {
        li {
            a, a:active,a:focus,a:visited {
                color: $blue;
            }
            a:hover {
                color: $white;
                background-color: $blue;
            }
        }

        li.active {
            a, a:active,a:focus,a:visited {
                color: $white;
                background-color: $blue;
            }
        }
    }
 }
 .navbar-toggle .icon-bar {
     background-color: $blue;
 }


/*
    ORG BRANDING
*/
.org-branding {
    padding-top: 75px;

    .container-fluid {
        max-width: 1264px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .org-banner-text {
        max-width: 1264px;
        color: #1a1a1a;
        text-align: center;
        border-top: 1px solid #e7e7e7;
        margin: auto;
        padding-top: 5px;
    }

}

#org-navbar {
    .navbar-nav 
    {
        li {
            a {
                color: #727272;
            }
        }
    }
}


/*
    MAIN CONTENT
*/

 /*
    FOOTER
 */
.navbar-fixed-bottom {
    z-index: 50;
}

#dmpopidor-footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    bottom: 0;
    font-size: 16px;
    
    .footer-content {
        width: 100%;
        padding: 0px 100px;
        color: $white;
        background-color: $blue;
        border-top: 3px solid $yellow;
        
        .footer-links-logos {
            display: flex;

            .footer-links {
                flex: 9;
            }
            .footer-logos {
                flex: 1;
                padding: 5px;
                display: flex;
                align-items: center;

                img {
                    max-height: 50px;
                }
            }
        }
        .footer-infos-sn {
            display: flex;
            border-top: 1px solid $white;
            
            .footer-infos {
                flex: 9;
            }
            .footer-sn {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: space-around;
            }

        }

        span {
            line-height: 50px;
            padding-left: 15px;
            padding-right: 15px;
        }


        a {
            &:focus,
            &:active {
            outline-style: dotted !important;
            outline-color: white !important;
            outline-width: 1px !important;
            }
            &:hover {
            outline-style: none !important;
            }
        }
    }

    
    a, a:active,a:focus,a:visited {
        color: $white;
    }
 }

@media (max-width: 1023px) {
    .footer-links-logos {
        flex-direction: column;  
        align-items: center;
        .break-point {
            display: none;
        }
        .footer-links {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }
    .footer-infos-sn {
        flex-direction: column;  
        align-items: center;
    }
    .org-branding {
        padding-top: 175px;
    }
     
}
@media (max-width: 767px) {
    .org-branding {
        padding-top: 75px;
    }
     
}

 


/*
    DROPDOWNS
*/
#change-language, #signin-signout, #app-navbar-menu {

    .dmpopidor-dropdown {
        background-color: $white;
        li {
            a, a:active,a:focus,a:visited {
                color: $blue;
                font-weight: bold;
    
            }
            a:hover {
                color: $white;
                background-color: $blue;
            }
        }
        li.active {
            a, a:active,a:focus,a:visited {
                background-color: $blue;
                color: $white;
            }
        }
    }
    .open {
        a {
            background-color: $white;
        }
    }
}
#admin-dropdown {
    .dmpopidor-dropdown {
        li.active {
            a, a:active,a:focus,a:visited {
                background-color: $rust;
                color: $white;
            }
        }
    }
}


/*
    MAIN CONTENT
*/

.dmpopidor-branding {
    .alert-warning {
        color: #5D4A27;
        a {
            color: #5D4A27;
            text-decoration: underline;
        }
    }
    .label-info {
        background-color: $blue;
    }

    /** Focus outline required for accessibility */
    input, select, .form-control {
        &:focus,
        &:hover,
        &:active {
        outline-style: solid !important;
        outline-color: $blue !important;
        outline-width: 2px !important;
        }
    }

    a {
        &:focus,
        &:active {
        outline-style: dotted !important;
        outline-color: $blue !important;
        outline-width: 1px !important;
        }
        
        &:hover {
        outline-style: none !important;
        }
    }
    
    /*
        PUBLIC AREA
    */
    h1{
        color: $blue;
    }
    
    h2 {
        color: $rust;
        font-size: 20px;
    }

    h3 {
        color: $blue;
        font-size: 17px;
    }

    a {
        color: $blue;
    }
    /*
        STATIC PAGES
    */
    .static_page_content {
        padding-top: 25px;
    }

    /*
        TABLES
    */
    .table {
        border: 1px solid $blue;
        // Cells borders
        thead > tr > th, 
        tbody > tr > th, 
        tfoot > tr > th, 
        thead > tr > td, 
        tbody > tr > td, 
        tfoot > tr > td {
            border: 1px solid $blue;
        }
        // Cells hovering
        &.table-hover tbody tr:hover td, 
        &.table-hover tbody tr:hover th {
            background-color: $very-light-blue;
        }
        // Header cells background
        thead > tr > th {
            background-color: $blue;
        }
        thead > tr > th:not(:last-child) {
            border-right: 1px solid $white;
        }

        .navbar-nav { 
            a{
                color: $white;
            }
        }
    }
    /* 
        BUTTONS
    */
    .btn-primary, 
    .btn-primary:hover, 
    .btn-primary:focus, 
    .btn-primary:active, 
    .btn-primary:visited, 
    .btn-primary:active:hover, 
    .btn-primary.active:hover {
        border-color: $rust;
        background-color: $rust;
        color: $white;
    }
    .btn-default, 
    .btn-default:hover, 
    .btn-default:focus, 
    .btn-default:active, 
    .btn-default:visited, 
    .btn-default:active:hover, 
    .btn-default.active:hover {
        border-color: $rust;
        background-color: $rust;
        color: $white;
    }
    .combobox-clear-button, 
    .combobox-clear-button:hover, 
    .combobox-clear-button:focus {
        color: $blue;
    }
    .btn-link {
        color: $blue;
    }
    /* 
        PLAN EDIT
    */
    // Progress bar 
    .progress-bar {
        background-color: $blue;
    }
    // Tabs
    .nav-tabs {
        background-color: $blue;

        li > a {
            color: $white
        }

        li > a:hover, 
        li > a:focus, 
        li.active > a, 
        li.active > a:focus, 
        li.active > a:hover {
            color: $blue;
            border: 1px solid $blue;
            border-bottom-color: transparent;
        }
    }
    .nav-pills {
        background-color: $blue;

        li > a {
            color: $white
        }

        li > a:hover, 
        li > a:focus, 
        li.active > a, 
        li.active > a:focus, 
        li.active > a:hover {
            color: $blue;
            border: 1px solid $blue;
        }
    }
    // example answer
    .example-answer {
        overflow: auto;
        .example-answer-link {
            cursor: pointer;
            background-color: $blue;
            display: block;
        }
    }
    // main border
    .panel-default {
        border-color: $blue;
    }
    // Sections
    .heading-button > .panel-heading, 
    .panel-default > .panel-heading {
        background-color: $blue;
    }

    // Guidances 
    .panel-title {
        color: $white;
    }
    .plan-guidance-tab {
        word-wrap: break-word;
    }
    .plan-details {
        .guidance-configuration {
            border-left: 2px solid $rust;
            border-bottom: 2px solid $very-very-light-blue;
            border-top: 2px solid $very-very-light-blue;
        }

    }

    // News
    .question-divider {
        border-bottom: 2px solid $very-very-light-blue;
    }



    /*
        ADMIN AREA
    */
    .org-admin {
        h1,
        h2 {
            color: $rust;
        }
    
        a {
            color: $rust;
        }

        /*
        TABLES
        */
        .table {
            border: 1px solid $rust;
            // Cells borders
            thead > tr > th, 
            tbody > tr > th, 
            tfoot > tr > th, 
            thead > tr > td, 
            tbody > tr > td, 
            tfoot > tr > td {
                border: 1px solid $rust;
            }
            // Cells hovering
            &.table-hover tbody tr:hover td, 
            &.table-hover tbody tr:hover th {
                background-color: $light-rust;
            }
            // Header cells background
            thead > tr > th {
                background-color: $rust;
            }

            .navbar-nav { 
                a:hover, 
                a:focus {
                    color: $rust;
                    background-color: $white;
                }
            }
        }

        /* 
            BUTTONS
        */
        .btn-primary, 
        .btn-primary:hover, 
        .btn-primary:focus, 
        .btn-primary:active, 
        .btn-primary:visited, 
        .btn-primary:active:hover, 
        .btn-primary.active:hover {
            border-color: $blue;
            background-color: $blue;
            color: $white;
        }
        .btn-default, 
        .btn-default:hover, 
        .btn-default:focus, 
        .btn-default:active, 
        .btn-default:visited, 
        .btn-default:active:hover, 
        .btn-default.active:hover {
            border-color: $blue;
            background-color: $blue;
            color: $white;
        }
        .combobox-clear-button, 
        .combobox-clear-button:hover, 
        .combobox-clear-button:focus {
            color: $rust;
        }

        // Tabs
        .nav-tabs {
            background-color: $rust;
    
            li > a:hover, 
            li > a:focus, 
            li.active > a, 
            li.active > a:focus, 
            li.active > a:hover {
                color: $rust;
                border: 1px solid $rust;
                border-bottom-color: transparent;
            }
        }
        .nav-pills {
            background-color: $rust;
    
            li > a:hover, 
            li > a:focus, 
            li.active > a, 
            li.active > a:focus, 
            li.active > a:hover {
                color: $rust;
                border: 1px solid $rust;
            }
        }

        // main border
        .panel-default {
            border-color: $rust;
        }
        // Sections & Phases
        .heading-button > .panel-heading, 
        .panel-default > .panel-heading {
            background-color: $rust;
        }
    
    
    
    }
       





    /*
        SUPER ADMIN
    */
    .super-admin {
        h1,
        h2 {
            color: $black;
        }

        a {
            color: $black;
            text-decoration: underline;
        }

        /*
        TABLES
        */
        .table {
            border: 1px solid $yellow;
            // Cells borders
            thead > tr > th, 
            tbody > tr > th, 
            tfoot > tr > th, 
            thead > tr > td, 
            tbody > tr > td, 
            tfoot > tr > td {
                border: 1px solid $yellow;
            }
            // Cells hovering
            &.table-hover tbody tr:hover td, 
            &.table-hover tbody tr:hover th {
                background-color: $light-yellow;
            }
            // Header cells background
            thead > tr > th {
                background-color: $yellow;
                color: $black;
            }

        }

        /* 
            BUTTONS
        */
        .btn-primary, 
        .btn-primary:hover, 
        .btn-primary:focus, 
        .btn-primary:active, 
        .btn-primary:visited, 
        .btn-primary:active:hover, 
        .btn-primary.active:hover {
            border-color: $yellow;
            background-color: $yellow;
            color: $black;
            text-decoration: none;
        }
        .btn-default, 
        .btn-default:hover, 
        .btn-default:focus, 
        .btn-default:active, 
        .btn-default:visited, 
        .btn-default:active:hover, 
        .btn-default.active:hover {
            border-color: $yellow;
            background-color: $yellow;
            color: $black;
            text-decoration: none;
        }
        .combobox-clear-button, 
        .combobox-clear-button:hover, 
        .combobox-clear-button:focus {
            color: $yellow;
        }


        .btn-link {
            color: $black;
            text-decoration: underline;
        }
    
    }

}

/*
    CIL MESSAGE
*/ 

.cil_message > p {
    font-size: x-small;
    font-style: italic;
    line-height: 1.5em;
    padding-bottom: 4px;
}

.institution-login i {
    display: inline-block;
    padding-left: 5px;
    transform: scaleX(-1);
    -webkit-transform:scaleX(-1);
    -moz-transform:scaleX(-1);
    -o-transform:scaleX(-1);
}

/* 
    CONTACT US
*/
.dmpopidor-contact-us {
    .column-right {
        border-left: 2px solid $rust;
    }

}


/*
    FRONT PAGE
*/
.dmpopidor-front-page {
    .main-title {
        padding-bottom: 10px;
    }
    .join-div {
        margin-top: 20px;
        padding-bottom: 10px;
        border-left: 4px solid $rust;
        border-bottom: 2px solid $very-very-light-blue;
        border-top: 2px solid $very-very-light-blue;
        border-right: 2px solid $very-very-light-blue;
    }
    .discover-div {
        float: right;
    }

    .front-page-list-item {
        font-size: 1.2em;
    }
    .front-page-text {
        font-size: 1.2em;
    }
    .icon {
        padding: 20px 0;
        font-size: 2em;
    }
    .text {
        padding: 20px 0;
    }
}


/*
    PLAN CREATION
*/

.plan-form {
    .tab-content {
        padding: 25px 25px 50px 25px;
        border: 1px solid $blue;
    }
}

#available-templates {
    .message-block {
        color: $blue;
    }
}

/*
    Share Form
*/
.share-form {
    display: flex;
    flex-direction: column;

    #new_role {
        border-bottom: 0.5px groove $color-border-light;
    }
}
/* Beta ribbons */

.corner-ribbon{
    width: 200px;
    background: $rust;
    position: absolute;
    top: 25px;
    left: -50px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);

    &.sticky{
        position: fixed;
    }
    &.shadow{
        box-shadow: 0 0 3px rgba(0,0,0,.3);
    }

    &.top-left{
        top: 25px;
        left: -50px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    &.red{background: $rust;}
      
  }
  
/*
  Research Outputs
*/
.nav-tabs {
    li.disabled {
        cursor: not-allowed;
        a {
        pointer-events: none;
        }
    }
}

#research-outputs {
    width: 100%;
    padding: 0 5px;
    margin-top: 5px;
    .form-group {
        margin: 0;
        margin-right: 5px;
    }

    .research-output-element {
        display: flex;
        margin: 5px 0;

        .research-output-fields {
            flex: 9;
            border: 0.5px groove $color-border-light;
            box-shadow:  0px 0px 0px 0px $color-shadow-dark;
            padding: 5px;
            .research-output-pid, .research-output-type {
                width: 30%;
            }
        }
        .research-output-actions {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $blue;

            .handle, .edit, .cancel {
                cursor: pointer;
            }
            a {
                color: $blue;
            }
        }
    }
}


#show-research-outputs {
    display: flex;
    flex-direction: column;
    .research-output-element {
        margin: 5px 0;
        padding: 5px;

        border: 0.5px groove $color-border-light;
        box-shadow:  0px 0px 0px 0px $color-shadow-dark;
        .research-output-value {
            display: flex;
            strong {
                flex: 2;
                text-align: right;
            }
            span {
                padding-left: 20px;
                flex: 8;
            }
        }
    }
}

/*
 * ACCESSIBILITY
 */

 a.has-new-window-popup-info,
button.has-new-window-popup-info {
  z-index:4;
  &:hover,
  &:focus,
  &:active {
    & > span.new-window-popup-info {
      width:15em;
      border:1px solid $blue;
      background-color: white;
      color:$blue;
    }
    
  }
  
}