# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
max_line_length = 80
charset = utf-8

[*.{cfg,yaml,yml,toml}]
indent_size = 4
indent_style = space

