<div class="row">
  <div class="col-md-12">
    <h1><%= _('Guidance group') %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <%= form_for :guidance_group, url: {action: "admin_create"}, id: 'admin_create_guidance_group_form' do |f| %>
      <%= render partial: 'guidance_group_form', locals: { f: f } %>
    <% end %>
  </div>
</div>
