<% title _('Guidance group') %>
<div class="row">
  <div class="col-md-12">
    <h1><%= _('Guidance group') %></h1>
    <%= link_to _('View all guidance'), admin_index_guidance_path(current_user.org_id),
                                        class: 'btn btn-secondary float-end' %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@guidance_group, url: admin_update_guidance_group_path(@guidance_group),
                                  html: { method: :put, id: "admin_update_guidance_group_form" }) do |f| %>
      <%
      allow_subset = @guidance_group.optional_subset?
      allow_subset = @guidance_groups.reject { |gg| gg.optional_subset? }.length > 1 unless allow_subset
      %>
      <%= render partial: "guidance_groups/guidance_group_form",
                 locals: {
                   form: f,
                   # Don't display the optional subset if there are no GuidanceGroups that are
                   # not an optional subset
                   allow_subset_flag: allow_subset
                 } %>
    <% end %>
  </div>
</div>
