@import url("./variable.css");

.footer {
  color: var(--white);
  margin: 50px 0px 0 0px;
  padding-left: 70px;
  padding-top: 30px;
  background-color: var(--primary);
  font-size: 18px;
  font-family: customHelveticaLight;
}

.item_footer a {
  text-decoration: none;
}

.item_footer {
  font-size: 16px;
  padding: 10px;
  list-style: none;
}

.item_footer_last {
  font-size: 16px;
  padding: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.title {
  margin-left: 55px;
  font-size: 16px;
  font-weight: bold;
}
.description {
  margin-top: 15px;
}

.logo_gris {
  width: 150px;
  height: 60px;
}

.logo_republique {
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

.logo_cnrs {
  width: 32px;
  height: 32px;
  margin-left: 10px;
}
.logo_road {
  width: 70px;
  height: 40px;
  margin-left: 10px;
}

.icon_footer {
  margin: 5px 10px 0px 10px;
  width: 30px;
  height: 30px;
  /* -webkit-filter: invert(100%);
  filter: invert(100%); */
}
