@import url("./variable.css");

.logo {
  width: 150px;
  height: 60px;
}

.header {
  margin-top: 10px;
}

.list {
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.item {
  list-style: none;
  color: var(--secondary);
  margin: 13px;
  font-size: 19px;
  font-weight: bold;
}

.item a {
  text-decoration: none;
  color: var(--primary);
}

.button {
  background-color: var(--primary);
  border: none;
  outline: none;
  padding: 6px;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  cursor: pointer;
  transition: all 200ms ease-in;
  color: alicesecondary;
  color: var(--white);
}

.dot {
  width: 10px;
  height: 10px;
  background: var(--secondary);
  border-radius: 50%;
  padding: 5px;
  font-weight: bold;
}
