@import url("./variable.css");

.main {
  display: flex;
  justify-content: center;
  margin-top: -100px;
  flex-direction: column;
  align-items: center;
}
.card_articles {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px; /* 5px rounded corners */
  margin: 10px 200px 15px 200px;
  padding: 40px 55px 10px 80px;
  min-width: 845px;
  background-color: var(--white);
  z-index: 9;
  min-width: 920px;
  width: 920px;
  padding-bottom: 40px;
}

.text_blue {
  color: var(--primary);
  font-family: customHelveticaBold;
  text-align: left;
  margin-left: 12px;
  margin-top: 4px;
  font-size: 12px;
}
.text_secondary {
  color: var(--secondary);
  font-size: 14px;
}
.article_img {
  width: 195px;
  height: 130px;
  border-radius: 9px;
}

/* duplicata */
.banner_span {
  margin-left: 15px;
  font-size: 16px;
}
/* duplicata */
.info_icon {
  color: var(--white);
  font-size: 20px;
}

.card_info {
  margin: 0px 0px 0px -360px;
  background-color: var(--primary);
  padding: 10px;
  border-radius: 8px;
  z-index: 999;
  color: var(--white);
}
