@import url("./variable.css");

.plan_navigation {
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  margin-top: -100px;
  z-index: 5;
}

.plan_navigation > li {
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
}

.plan_navigation > li > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 150px;
  height: 150px;
  color: var(--primary);
  background-color: var(--white);
  font-size: large;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #e5e4e7;
}

.plan_navigation > li > .active_line {
  border-left: 1px solid var(--primary);
  border-right: 1px solid var(--primary);
  height: 30px;
  width: 0;
  align-self: center;
  display: none;
}

.plan_navigation > li > .active_bullet {
  color: var(--primary);
  font-size: xx-large;
  line-height: 0;
  display: none;
}

.plan_navigation > li.active .active_line,
.plan_navigation > li.active .active_bullet,
.plan_navigation > li:hover .active_line,
.plan_navigation > li:hover .active_bullet {
  display: block;
}

.plan_navigation > li.active > a,
.plan_navigation > li > a:hover {
  color: var(--white);
  background-color: var(--primary);
  border-color: var(--primary);
  box-shadow: none;
}

/* .phase-tab.active .icon_navbar {
  filter: brightness(0) invert(1);
} */

.icon_navbar {
  width: 50px;
  height: 50px;
}
/* .icon_navbar:hover {
  filter: brightness(0) invert(1);
} */
