.section {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.main {
  /* display: flex;
  justify-content: center; */
  width: 80%;
  height: 100%;
}

.sidebar {
  background-color: #80b1cd;
  width: 220px;
  height: 100%;
  margin-left: -160px;
  float: left;
  z-index: 8000;
  margin-bottom: 0px;
  border-radius: 20px 0px 0px 20px;
  margin-left: 0px;
  float: left;
  min-width: 240px;
}
.nav_header {
  display: flex;
  flex-direction: column;
  border-radius: 20px 0px 0px 0px;
}
.nav_icon {
  display: flex;
  justify-content: center;
}
.nav_icon .space_right {
  margin-right: 10px;
}

.nav_title {
  display: flex;
  justify-content: center;
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
  font-family: customHelveticaLight;
  letter-spacing: 2px;
}
/*adds border top to first nav box */
.sidebar .navbar-nav > li:first-child {
  border-top: 0px #e5e5e5 solid;
}

/*adds border to bottom nav boxes*/
.sidebar .navbar-nav > li {
  border-bottom: 3px var(--white) solid;
}

/* ************************************************** */
.sidebar .navbar-nav > .active:first-child > a {
  background-color: #1c5170 !important;
  border-radius: 20px 0px 0px 0px;
}

.sidebar .navbar-nav > .active:not(:first-child):not(:last-child) > a {
  background-color: #1c5170 !important;
  border-radius: 0px 0px 0px 0px;
}

.sidebar .navbar-nav > .active:not(:first-child) > a {
  background-color: #1c5170 !important;
  border-radius: 0px 0px 0px 20px;
}
/* ************************************************** */

/* ************************************************** */
.sidebar .navbar-nav > li:first-child:hover {
  background-color: #1c5170;
  border-radius: 20px 0px 0px 0px;
}
.sidebar .navbar-nav > li:not(:first-child):not(:last-child):hover {
  background-color: #1c5170;
  border-radius: 0px 0px 0px 0px;
}

.sidebar .navbar-nav > li:last-child:hover {
  background-color: #1c5170;
  border-radius: 0px 0px 0px 20px;
}
/* ************************************************** */
.sidebar .navbar-nav > .active > a:hover {
  background-color: #1c5170 !important;
}
.sidebar .navbar-nav > li > a {
  color: white;
}

/*allows nav box to use 100% width*/
.sidebar .navbar-collapse,
nav.sidebar .container-fluid {
  padding: 0 0px 0 0px;
}

/*gives sidebar width/height*/

/*give sidebar 100% width;*/
.sidebar li {
  width: 100%;
}

@media (min-width: 1330px) {
  /*Show all nav*/
  .sidebar {
    margin-left: 0px;
    float: left;
  }
}
