@import url("./variable.css");

/* duplicata */
/* context */
.list_context {
  border-radius: 8px;
  border: solid;
  border-color: grey;
  border-width: 1px;
  margin: 1px 1px 10px 15px;
  padding: 5px;
}

.check[type="radio"]:checked + label + div {
  background-color: var(--primary);
  color: var(--white);
}

.label_title {
  font-size: 25px;
  margin: 5px 0px 10px 10px;
  color: var(--secondary);
  font-weight: bold;
}

.label_sous_title {
  color: grey;
}

/*df ajout dans second */

.list_organisme {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 10px;
}
.list_element {
  border-radius: 8px;
  border: solid;
  border-color: grey;
  border-width: 1px;
  margin: 1px 1px 1px 1px;
  padding: 5px;
  font-family: customHelveticaLight;
}

.element_organisme input[type="radio"]:checked + div {
  background-color: var(--primary);
  color: var(--white);
}
.element_organisme input {
  display: none;
}
label {
  margin: 5px;
}

/* select */
.select {
  margin: 0px 0px 0px 20px;
  font-family: customHelveticaLight;
}
