<h2><%=_('Structures') %></h2>
<div class="row">
  <div id="departments_table" class="col-md-12">
    <%= paginable_renderise( partial: '/paginable/departments/index',
                             controller: 'paginable/departments',
                             action: 'index',
                             scope: departments,
                             query_params: { sort_field: 'departments.name', sort_direction: 'asc' })  %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <a href="<%= new_org_department_path(org_id) %>" class="btn btn-primary"><%= d_('dmpopidor', 'Create structure') %></a>
  </div>
</div>
