// Colors:
$color-dark-blue:        #0E5682;
$color-light-blue:       #D8E3EE;
$color-light-grey:       #F0F0F0;
$color-green:            #008000;
$color-translucent-blue: rgba(14,86,130,.9);

// Text colors
$color-text-dark-blue: $color-dark-blue;

// Background colors
$color-background-dark-blue: $color-dark-blue;

