/* Maximum page with for all devices */
$max-width-breakpoint:     1280px;

/* Breakpoint to switch to mobile layout of header/footer */
$mobile-layout-breakpoint: 766px;

/* Breakpoint at which the Org logo starts displaying when logged in */
$hide-org-logo-breakpoint: 1024px;
