<%# locals: label %>
<%= _("Your address is associated with:") %>

<h3><%= resource.org.name %></h3>

<%= form.hidden_field :org_id, value: resource.org_id %>
<button type="submit" class="btn btn-primary"><%= label %></button>
