<%= _("Your address is associated with:") %>

<h3><%= resource.org.name %></h3>

<%= form.hidden_field :org_id, value: resource.org_id %>
<button type="submit"><%= _("Sign in with Institution (SSO) to Continue") %></button>
