<%= _("Your address is associated with:") %>

<h3><%= resource.org.name %></h3>

<%= form.hidden_field :org_id, value: resource.org_id %>
<%= form.submit _("Sign in with Institution to Continue"), class: "btn btn-default" %>
