<legend><%= _('Which DMP template would you like to use?') %></legend>

<div class="form-left-side left-indent">
  <%= label_tag(:plan_template_selector, _('Select a template')) %>

  <%= select_tag(:plan_template_selector,
    options_from_collection_for_select(@templates, 'id', 'title'),
    class: 'left-indent input-extra-large',
    prompt: _('Please select one'))
  %>
</div>

<div class="form-right-side">
  <div class="left-indent">
    <p><%= _('We found multiple DMP templates corresponding to your funder.') %></p>
  </div>
</div>

<script type="text/javascript">
  $("#plan_template_selector").change(function(){
    $("#plan_template_id").val($(this).val()).change();
  });
</script>