<%# locals: plan %>

<% doi = plan.doi %>

<% if doi.present? %>
  <p>
    <% if doi.value.downcase.start_with?("http") %>
      <% val = link_to doi.value, doi.value %>
    <% else %>
      <% val = doi.value %>
    <% end %>
    <%= (_('Your plan has been registered. Your DOI is: %{doi}') % { doi: val }).html_safe %>
  </p>
<% else %>
  <p>
    Generate a DOI for your data management plan. DOIs help track connections between your project
    and associated outputs such as datasets. More about this feature here (
    <a href="https://github.com/CDLUC3/dmptool/wiki/Machine-actionable-DMPs#dois-for-dmps">Machine-actionable-DMPs</a>). 
    <%= button_to "Register", {
                                controller: 'plans',
                                action: 'mint',
                                data: { disable_with: "registering ..." }
                              },
                              {
                                remote: true,
                                method: :get
                              } %>
  </p>
<% end %>
