<div id='<%= plan.id %>-export-dialog' data-container="body" class='modal hide fade'>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3><%= t('helpers.export') %> <%= plan.project.title %>: <%= plan.version.phase.dmptemplate.title %></h3>
	</div>
	<div class="modal-body">
		
	</div>
</div>