<!-- Project title -->
<div class="project-title-container">
  <div class="project-title">
    <h1><%= plan.title %></h1> 
  </div>
</div>

<% if @plan.visibility == 'is_test' %>
  <div class="roadmap-info-box">
    <i class="fa fa-exclamation-circle"></i>
    <span><%= _('This is a') %> <strong><%= _('test plan') %></strong>.</span>
  </div>
<% end %>