<%# locals: { plan, current_phase } %>
<%
  nanswers = current_phase.num_answered_questions(plan)
  nquestions = current_phase.num_questions()
  value=(nanswers.to_f/nquestions*100).round(2)
%>
<div class="progress-bar" role="progressbar"
  aria-valuenow="<%= value %>"
  aria-valuemin="0" aria-valuemax="100"
  style="min-width: 7em; width: <%= "#{value}%" %>;">
    <%= "#{nanswers}/#{nquestions} #{_('answered')}" %>
</div>


