<!--show comment. comment is passed as an argument-->
<% user = User.find(comment.user_id) %>
<div class="div_clear">
</div>
<div>
    <ul>
        <li><p class= "accordion_label"><%= t("helpers.comments.commented_by")%></p></li>
        <li><%= user.name%> (<%= l comment.updated_at, format: :custom %>)</li>
        <li><%= raw comment.text %></li>
  
    </ul>
</div>
