<%# locals: { plan } %>

<% title "#{plan.title}" %>
<div class="row">
  <div class="col-md-12">
    <h1><%= plan.title %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render partial: 'overview_details', layout: 'navigation', locals: { plan: plan } %>
  </div>
</div>
