<% title "#{@plan.title}" %>
<div class="row">
  <div class="col-md-12">
    <!-- render the project title -->
    <h1><%= @plan.title %></h1>
  </div>
</div>

<% partial = @plan.editable_by?(current_user.id) ? "edit_details" : "show_details" %>

<div class="row">
  <div class="col-md-12">
    <%= render partial: partial, layout: 'navigation',
               locals: { plan: @plan, visibility: @visibility, orgs: @orgs, org_partial: @org_partial } %>
  </div>
</div>
