<% title "#{@plan.title}" %>
<div class="row">
  <div class="col-md-12">
    <!-- render the project title -->
    <h1><%= @plan.title %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% if @plan.editable_by?(current_user) %>
      <%= render partial: 'edit_details', layout: 'navigation', locals: {plan: @plan, visibility: @visibility} %>
    <% else %>
      <%= render partial: 'show_details', layout: 'navigation', locals: { plan: @plan, visibility: @visibility } %>
    <% end %>
  </div>
</div>