/* HOMEPAGE */
/* --------------------------------------- */




/*   Get Started Page */
/*   --------------------------------------- */
#signin-options-get-started {
  width: 50%;
  margin: 0 auto;
}

/*   Signin/Create Account */
/*   --------------------------------------- */
.password-toggle {
  margin: 0 0 0 0;
}