<div class="row">
  <div class="col-md-12">
    <h1><%= @plan.title %></h1> 
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render partial: 'edit_plan_answers', layout: 'shared/plan_navigation', locals: {} %>
  </div>
</div>