<% title _('New notification') %>
<div class="row super-admin">
  <div class="col-xs-12">
    <h2><%= _('New notification') %></h2>
  </div>
</div>
<div class="row super-admin">
 <div class="col-xs-12">
    <%= render 'form' %>
  </div>
</div>

