<div class="screencast_home_page">
    <div class="clear"></div>
	<video preload="metadata" poster="<%= asset_path('images/doranum-scene.png')%>" controls="controls" class="video" width="100%" height="auto"  title="1662" >
		<source src="<%= asset_path('videos/index.files/html5video/doranum.mp4')%>" type="video/mp4" />
	</video>
	<%= link_to "DoRANum", "http://doranum.fr/outil-redaction-dmp-plan-gestion-donnees-dmp/", :target => "_blank"  %> / CC BY-NC-SA 2.0 FR
</div>