<div class="screencast_home_page">
    <div class="clear"></div>
	<iframe width="100%" height="600px" src="https://www.youtube.com/embed/-CP8QfCg34Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<%= link_to "DoRANum", "https://doranum.fr/plan-gestion-donnees-dmp/outil-redaction-dmp/", :target => "_blank"  %> / CC BY-NC-SA 2.0 FR
</div>