<%# locals: { f, field_label, field_name, multiple, classname, field_name, field_id, readonly, validation } %>
<% field_class = nil if local_assigns[:field_class].nil? %>
<% field_label = field_label || 'No label defined' %>
<div class="col-md-12">
  <%= f.label check_box, field_label, class: 'control-label' %>
</div>
<div class="col-md-12 dynamic-field">
  <%= f.number_field field_name, 
            value: field_value, 
            multiple: multiple, 
            disabled: readonly,
            class: "form-control #{field_class}",
            id: field_id  %>
</div>
