<%# locals: { field_values, parent_id, classname, field_name } %>
<% field_values = [] if field_values.nil? %>
<div class="col-md-12">
  <fieldset class="answer-fieldset">
    <legend class="answer-fieldset"><%= field_name.capitalize.pluralize(2) %></legend>
    <table class="table table-hover linked-fragments-list">
      <thead>
        <tr><th scope="col"><%= classname.capitalize %></th><th scope="col">Actions</th></tr>
      </thead>
      <tbody>
        <%= render(partial: 'shared/dynamic_form/linked_fragment/list', locals: {
              obj_list: field_values, 
              parent_id: parent_id,
              classname: classname
              }
            ) %>
      </tbody>
    </table>
    <% unless parent_id.nil?%>
      <%= link_to 'Create', new_edit_linked_madmp_fragments_url(
              nil, 
              :parent_id => parent_id, 
              :classname => classname
      ),  {
        :remote => true, 
        :class => "btn btn-primary",
        'data-toggle' =>  "modal", 
        'data-target' => '#modal-window'
      }  %>
    <% end %>
  </fieldset>
</div>