<%# locals: { f, field_value, field_label, field_name, is_const_field } %>
<% field_label = field_label || 'No label defined' %>

<% if is_const_field %>
    <div class="col-md-12 const-field">
        <span class="field-label"><%= field_label %></span>
        <span><%= field_value %></span>
    </div>
<% end %>

<%= f.hidden_field field_name, 
        value: field_value,
        class: "form-control" %>