# Commented out until we have time to do a full cleanup of the codebase

name: Rubocop

on: [pull_request]

jobs:
  rubocop:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    # Extract the Ruby version from the Gemfile.lock
#    - name: 'Determine Ruby Version'
#       run: echo ::set-env name=RUBY_VERSION::$(echo `cat ./Gemfile.lock | grep -A 1 'RUBY VERSION' | grep 'ruby' | grep -oE '[0-9]\.[0-9]'`)

    # Install Ruby - using the version found in the Gemfile.lock
#     - name: 'Install Ruby'
#       uses: actions/setup-ruby@v1
#       with:
#         ruby-version: ${{ env.RUBY_VERSION }}

    # Will run Rubocop checks on the PR diffs and report any errors as commentary on the PR
    #   https://github.com/marketplace/actions/octocop
#     - name: Octocop
#       uses: Freshly/Octocop@v0.0.1
#       with:
#         github_token: ${{ secrets.github_token }}
#         additional-gems: 'rubocop-dmp_roadmap'

    - name: 'Placeholder for Rubocop'
      run: echo "Rubocop has been temporarily disabled"
