<h1>
  <%= @static_page.localized_name(session[:locale]).html_safe %> &#x25cf;
</h1>

<div class="dmp_details_body static_page_content">
  <%= @static_page.localized_content(session[:locale]).html_safe %>
</div>
