<%# Available locals: orgs %>
<% title _('Schemas') %>
<div class="row super-admin">
  <div class="col-md-12">
    <h1>
      <%= _('Schemas') %>
      <a href="<%= new_super_admin_structured_data_schema_path %>" 
         class="btn btn-primary pull-right"><%= _('Create Schema') %></a>
    </h1>
  </div>
</div>
<div class="row super-admin">
  <div class="col-md-12">
    <!-- List of guidance groups -->
    <%= paginable_renderise(
      partial: '/paginable/structured_data_schemas/index',
      controller: 'paginable/structured_data_schemas',
      action: 'index',
      scope: structured_data_schemas,
      query_params: { sort_field: 'structured_data_schemas.name', sort_direction: :asc }) %>
    <div>
  </div>
</div>