<!-- Org branding info -->
<div class="branding-container">
  <% if user_signed_in? %>
    <% if !current_user.org.nil? %>
      <!-- Banner text -->
      <% if current_user.org.banner_text.present? %>
        <div class="header-org-banner-text">
          <span class="header-org-banner-text-vertical-align">
            <%= raw current_user.org.banner_text %>
          </span>
        </div>
      <%end%>
      
    <%end%>
  <%end%>
</div>