<!-- header information -->

<div class="main_header">
	<div class="header_left">
        <div class="home_logo">
          <%= link_to( image_tag("logo.jpg"), root_path)%>
        </div>
    </div>
    <div class="header_right">	
        <div class="org_branding">
             <%= render "layouts/dmponline_org_branding" %>
        </div>
        
        <div class="signin_signout_header_link">
             <%= render "layouts/dmponline_signin_signout" %>
        </div>
        
        <div class="main_navigation">
            <%= render "layouts/dmponline_navigation" %>
        </div> 
    
    </div>  
</div>    
