<!-- header information (bootstrap column layout) -->
<div class="main-nav pb-3">
  <%= render partial: "layouts/navigation" %>
</div>
<div class="org-branding">
  <% if user_signed_in? && !current_user.org.nil? && (!current_user.org.is_other || current_user.can_super_admin?) %>
    <%= render partial: "layouts/branding" , locals: {max_number_links: Rails.configuration.x.max_number_links_funder} %>
  <% end %>
</div>
