<!-- header information (bootstrap 3 column layout) -->
<div class="main-nav">
  <%= render partial: "layouts/navigation" %>
</div>
<div class="org-branding">
  <% if user_signed_in? && !current_user.org.nil? %>
    <%= render partial: "layouts/branding" %>
  <% end %>
</div>
