<!-- header information -->
<div class="header-left">
  <div class="home-logo">
    <%= link_to(image_tag("logo.png"), root_path)%>
  </div>
</div>
<div class="header-right">  
  <div class="org-branding">
    <%= render "layouts/branding" %>
  </div>
  
  <div class="main-nav">
    <%= render "layouts/navigation" %>
  </div> 
</div>  
<div class="signin-signout-menu">
  <%= render "layouts/signin_signout" %>
</div>
