<!-- header information -->

<div class="main_header">
	<div class="header_left">
        <div class="home_logo">
          <%= link_to(image_tag("logo.png"), root_path)%>
        </div>
    </div>
    <div class="header_right">	
        <div class="org_branding">
             <%= render "layouts/branding" %>
        </div>
        
        <div class="main_navigation">
            <%= render "layouts/navigation" %>
        </div> 
    
    </div>  
    <div class="signin_signout_header_link">
         <%= render "layouts/signin_signout" %>
    </div>
</div>    
